<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="InstoreRewardBooking" connectionString="Data Source=172.21.214.38;Initial Catalog=InstoreClubcardReward;User id=ICCRSQLUSER;Password=Tesco123" providerName="SQL"/>
    <add name="InstoreRewardNGC" connectionString="Data Source=172.21.214.38;Initial Catalog=InstoreClubcardReward;User id=ICCRSQLUSER;Password=Tesco123" providerName="SQL"/>
    <add name="PrintVouchers_KioskDB" connectionString="Data Source=172.21.214.38;Initial Catalog=PrintVouchers_KioskDB;User id=ICCRSQLUSER;Password=Tesco123" providerName="SQL"/>
  </connectionStrings>
  <appSettings>
    <add key="WebReferenceUK" value="http://172.21.149.90/ngcwebserviceNew/NGCUKMessagingService.asmx"/>
    <add key="DoubleUpUK" value="http://172.21.110.27/DupWS/Service.asmx"/>
    <!--<add key="DoubleUpUK" value="http://172.21.83.135/DupWS/Service.asmx"/>-->
    <add key="AGTimeoutUK" value="100000"/>
    <add key="ISTimeoutUK" value="100000"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="BigExchange.ClubcardReward">
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig" name="BasicHttp" bindingName="BasicHttp" contract="BigExchange.IClubcardReward"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="metadataAndDebug">
          <serviceMetadata
            httpGetEnabled="true"
            httpGetUrl=""
          />
          <serviceDebug
            httpHelpPageEnabled="true"
            includeExceptionDetailInFaults="true"
          />
        </behavior>

      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>