<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="destination" value="D:\AutomationReports\Data\"/>
		<add key="ArchivedReports" value="D:\AutomationReports\Data\Archived\"/>
		<add key ="source" value="D:\Automation-MCA-MVC\Reports"/>
	</appSettings>
</configuration>