<!-- This is the master list of client endpoints for Clubcard WCF services. -->

<client>
  <endpoint address="http://172.25.32.251:81/LOCATORSVC/Locator.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
    contract="ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
  <endpoint address="http://172.17.76.20/SmartVocuherService/SmartVoucherServices.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_ISmartVoucherServices" contract="SmartVoucherServices.ISmartVoucherServices"
    name="WSHttpBinding_ISmartVoucherServices">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/JoinService/JoinLoyaltyService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IJoinLoyaltyService" contract="JoinLoyaltyService.IJoinLoyaltyService"
    name="WSHttpBinding_IJoinLoyaltyService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/ClubcardCouponServices/ClubcardCouponService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IClubcardCouponService"
    contract="ClubcardCouponServices.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/PreferenceServices/PreferenceService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IPreferenceService" contract="PreferenceServices.IPreferenceService"
    name="WSHttpBinding_IPreferenceService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/CCOServices/AdminService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IAdminService" contract="AdminService.IAdminService"
    name="WSHttpBinding_IAdminService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/CCOServices/ClubcardService.svc"
     binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IClubcardService" contract="ClubcardService.IClubcardService"
    name="WSHttpBinding_IClubcardService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/CCOServices/CustomerService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_ICustomerService" contract="CustomerService.ICustomerService"
    name="WSHttpBinding_ICustomerService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/ReportingService/NGCReportingService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_INGCReportingService" contract="NGCReportingService.INGCReportingService"
    name="WSHttpBinding_INGCReportingService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.17.76.20/CCOServices/MarketingService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMarketingService"
    contract="MarketingService.IMarketingService" name="WSHttpBinding_IMarketingService">
	<identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
</client>
