@model Tesco.ClubcardProducts.MCA.Web.Common.Models.CouponBoxViewModel
@using Tesco.ClubcardProducts.MCA.Web.Common
                                 
	<tr>
	<td>@Html.Translate("Shared/_CouponsBox", Model.Resources[0])</td>
	<td class="ddl-no-wrap"> @Model.Value </td>
	</tr>
                                                   
                                     

