@using Tesco.ClubcardProducts.MCA.Web.Common


@{
    ViewBag.Title = "_PersonalDetailsModal";
    ViewBag.dtmTitle = "_PersonalDetailsModal";
    
}

		<div class="copy-wrapper">
     <h2 id="lblheader">@Html.Translate("Shared/_PersonalDetailsModal", "lblHeading")</h2>
	 <span class="ddl-visually-hidden"></span>
		<p>@Html.Translate("Shared/_PersonalDetailsModal", "lclConfirmSuccess")</p>
		</div>