<li> 
    @using (Html.BeginForm("GetVoucherRewardDetails", "MCA", FormMethod.Post))
    { 
        <button id="getVoucherRewardDetails" value="GetVoucherRewardDetails">GetVoucherRewardDetails</button>
    }
</li>
<li> 
    @using (Html.BeginForm("GetUnusedVoucherDetails", "MCA", FormMethod.Post))
    { 
        <button id="getUnusedVoucherDetails" value="GetUnusedVoucherDetails">GetVoucherRewardDetails</button>
    }                
</li>
<li> 
    @using (Html.BeginForm("GetCustomerVoucherValCPS", "MCA", FormMethod.Post))
    { 
        <button id="getCustomerVoucherValCPS" value="GetCustomerVoucherValCPS">GetVoucherRewardDetails</button>
    }               
</li>
<li> 
    @using (Html.BeginForm("GetUsedVoucherDetails", "MCA", FormMethod.Post))
    { 
        <button id="getUsedVoucherDetails" value="GetUsedVoucherDetails">GetVoucherRewardDetails</button>
    }                
</li>
<li> 
    @using (Html.BeginForm("GetRewardDetailsMiles", "MCA", FormMethod.Post))
    { 
        <button id="getRewardDetailsMiles" value="GetRewardDetailsMiles">GetVoucherRewardDetails</button>
    }               
</li>