<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
    	<td>
    		<table width="600" border="0" cellspacing="0" cellpadding="0">
        		<tr>
            		<td><a href="http://www.tesco.com/babyclub" target="_blank"><img style="border:none" src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_02.jpg" width="371" height="121" alt="babyclub" style="display:block"  /></a></td>
            		<td><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_03.jpg" width="229" height="121" alt="animals" style="display:block"/></td>
            	</tr>
        	</table>
        </td>
  	</tr>
  	<tr>
    	<td>
    		<table border="0" cellspacing="0" cellpadding="0" width="600">
        		<tr>
            		<td valign="top" bgcolor="#f4e7e0">
                		<table border="0" cellspacing="0" cellpadding="0" width="308">
                    		<tr>
                        		<td height="30" bgcolor="#f4e7e0"></td>
                        	</tr>
                        	<tr>
                        		<td width="20" bgcolor="#f4e7e0">&nbsp;</td>
                        		<td width="279" bgcolor="#f4e7e0"><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#c30045" size="5" style="font-size:28px;">Welcome to our Club!</font></td>
                        	</tr>
                            <tr>
                            	<td width="20" height="10">&nbsp;</td>
                                <td width="279">&nbsp;</td>
                            </tr>
                        	<tr>
                          		<td width="20" bgcolor="#f4e7e0">&nbsp;</td>
                          		<td bgcolor="#f4e7e0"><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="3" style="font-size:15px">Thank you for joining Tesco Loves Baby Club. We’re here to help you throughout your parenting journey from pregnancy to new baby and toddler…</font></td>
                        	</tr>
                    	</table>
                	</td>
                	<td height="180"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_06.jpg" width="292" height="180" alt="baby" style="display:block"/></td>
            	</tr>
        	</table>
    	</td>
  	</tr>
  	<tr>
    	<td valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_06_10.jpg" width="600" height="20" style="display:block" /></td>
  	</tr>
  	<tr>
  		<td>
    		<table border="0" cellspacing="0" cellpadding="0" width="600">
            	<tr>
                	<td>
                    	<table border="0" cellspacing="0" cellpadding="0" width="387">
                        	<tr>
                            	<td width="387" height="20" bgcolor="#ffffff" valign="top">&nbsp;</td>
                            </tr>
                        	<tr>
                            	<td>
                                	<table border="0" cellspacing="0" cellpadding="0" width="387">
                                    	<tr>
                                        	<td bgcolor="#ffffff" width="21">&nbsp;</td>
                                			<td width="338" bgcolor="#ffffff">
                                            	<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                	<tr>
                                                    	<td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#c30045" size="2" style="font-size:12px;"><strong>Your Tesco Loves Baby Club membership gives you:</strong></font></td>
                                                    </tr>
                                                    <tr>
                                                    	<td>
                                                        	<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                        		<tr>
                                                            		<td width="17" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_18.jpg" width="17" height="18" style="display:block" /></td>
                                                        			<td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">Money-saving offers</font></td>
                                                           	 	</tr>
                                                         	</table>
                                                        </td>
                                                    </tr>
                                                  	<tr>
                                                    	<td>
                                                    		<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                        		<tr>
                                                            		<td width="17" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_18.jpg" width="17" height="18" style="display:block" /></td>
                                                                    <td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">Superb competitions – with great prizes!</font></td>
                                                                </tr>
                                                        	</table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td>
                                                    		<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                        		<tr>
                                                            		<td width="17" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_18.jpg" width="17" height="18" style="display:block" /></td>
                                                                    <td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">A fabulous website full of help and advice, there for you 24/7</font></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td>
                                                    		<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                        		<tr>
                                                            		<td width="17" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_18.jpg" width="17" height="18" style="display:block"/></td>
                                                                    <td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">Delicious recipes for babies, toddlers and you</font></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td>
                                                    		<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                        		<tr>
                                                            		<td width="17" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_18.jpg" width="17" height="18" style="display:block" /></td>
                                                                    <td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">A free parents’ parking permit so you can park closer to the store</font></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td>
                                                    		<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                        		<tr>
                                                            		<td width="17" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_18.jpg" width="17" height="18" style="display:block"/></td>
                                                                    <td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" style="font-size:12px;" size="2">Regular emails including news of all the great offers for mums and babies</font></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td>
                                                    		<table border="0" cellspacing="0" cellpadding="0" width="338">
                                                        		<tr>
                                                            		<td width="17" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_18.jpg" width="17" height="18" style="display:block" /></td>
                                                                    <td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">Plus you’ll be the first to hear about our amazing Tesco Loves Baby Events</font></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                    	<td><br/><a href="http://www.tesco.com/babyclub" target="_blank" style="text-decoration: none;"><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#c30045" size="2" style="font-size:12px;">Our website</font> </a><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">is there for you 24 hours a day where you can find reassuring help and advice whenever you need it – as well as mums’ stories to raise a smile and all our latest baby and toddler offers in one place!</font><br/><br/>



<font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">There’s loads to see at</font> <a href="http://www.tesco.com/babyclub" target="_blank" style="text-decoration: none;"><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#c30045" size="2" style="font-size:12px;">Tesco Loves Baby Club</font></a> <font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">– why not have a look now?</font><br/><br/>

<font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">Enjoy!</font></td>
                                                    </tr>
                                                </table>
											</td>
                                			<td width="28" bgcolor="#ffffff">&nbsp;</td>
                            			</tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            	<td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                            	<td><a href="http://www.tesco.com/babyclub" target="_blank"><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_26.jpg" width="387" border="0" height="101" style="display:block" alt="Visit babyclub" /></a></td>
                            </tr>
                             <tr>
                            	<td height="10">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td width="213" valign="top">
                    	<table width="213" border="0" cellspacing="0" cellpadding="0">
                        	<tr>
                            	<td height="13" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                            	<td><img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_13.jpg" alt="Mums' Choice" width="213" height="65" style="display:block"/></td>
                            </tr>
                            <tr>
                            	<td>
                                	<table width="213" border="0" cellspacing="0" cellpadding="0">
                                    	<tr>
                                        	<td bgcolor="#d5e3e8" width="10">&nbsp;</td>
                                            <td bgcolor="#ffffff" width="10">&nbsp;</td>
                            				<td width="157" bgcolor="#ffffff"><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">Now you’re in Tesco Loves Baby Club, you can also join Mums’ Choice, our members-only online area. Create your</font> <a href="https://www.tescomumschoice.com/profile.aspx" target="_blank" style="text-decoration: none;"><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#c30045" size="2" style="font-size:12px;">Mums’ Choice profile page</font></a> <font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">and you can rate and review your baby and toddler purchases, share your stories and give us feedback on all aspects of parenting – you may even be invited to test new products for our famous Mums’ Choice Awards.</font><br/><br/>
</td>										 <td bgcolor="#ffffff" width="10">&nbsp;</td>
											 <td bgcolor="#d5e3e8" width="10">&nbsp;</td>
                                            <td bgcolor="#ffffff" width="10">&nbsp;</td>
										</tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            	<td height="10">
                           	    	<img src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_24.jpg" width="213" height="10" style="display:block"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
    	</td>
  	</tr>
    <tr>
    	<td>
         	<table border="0" cellspacing="0" cellpadding="0" width="600">
            	<tr>
                	<td width="21">&nbsp;</td>
                    <td><font face="Trebuchet MS, Arial, Helvetica, sans-serif" color="#4a4a4a" size="2" style="font-size:12px;">PS: To remain in the Tesco Loves Baby Club and continue to receive emails, mailings and coupons, you will need to shop in Tesco at least once every six weeks.</font></td>
                </tr>
                <tr>
                	<td colspan="2" height="10">&nbsp;</td>
                </tr>
                <tr>
                	<td colspan="2"><a href="http://www.tesco.com/clubcard" target="_blank"><img border="0" src="http://www.tesco.com/emailImages/Baby_wel2013/Babyclub_WelcomeEmail3_28.jpg" width="600" height="106" style="display:block" alt="Tesco Clubcard" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
