<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  </head>



<table width="642" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td width="30"></td>
		<td width="582" style="font-family:arial,verdana,helvetica,freesans,sans-serif;font-size:13px;line-height:16px;color:#000000;">
		Dear Customer, 
		<br />
		<br />
    Thank you for updating your ############ in My Clubcard Account. The following details have now been updated:
   	<br /><br />
                           <ul>
                            ########## 
                            </ul>
                         
   	<br />
    If you did not make these changes, please contact a Customer service representative
    <br /> 
     on 0800 59 16 88. Remember, if you have updated your details in My Clubcard Account make sure we have the right information 
    about you by also updating your <a href="https://secure.tesco.com/register/contactDetails.aspx?vstore=0" target="_blank" style="text-decoration:underline;color:#000000">Tesco.com</a>  account with any changes.
    <br>
    <br>
    Clubcard Account team
		</td>
		<td width="30"></td>
	</tr>
</table>
</body>
</html>
