<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="CheckOutService" formatter="Text Formatter" log="ClubcardCoupons" machineName="."
        traceOutputOptions="None" />
      <add name="ClubcardCouponCheckOutLog" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="D:\Temp\Logs\ClubcardCoupon\ClubcardCouponCheckOut.log"
        formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="6000" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp(local)}{newline}Message: {message}{newline}Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity}{newline}ProcessId: {localProcessId} Process Name: {localProcessName}{newline}Thread Name: {threadName} Win32 ThreadId:{win32ThreadId}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="ClubcardCouponCheckOutLog" />
        </listeners>
      </add>
      <add switchValue="All" autoFlush="true" name="Critical">
        <listeners>
          <add name="Event Log Listener" />
          <add name="ClubcardCouponCheckOutLog" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="ClubcardCouponCheckOutLog" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="ReportingServer" />
  <connectionStrings>
    <add name="ReportingServer" connectionString="Data Source=172.21.214.56;Initial Catalog=ClubcardCoupon;User Id=devuser;Password=Tesco123;"
      providerName="System.Data.SqlClient" />
    <add name="OLTPDbServer" connectionString="Data Source=172.21.214.56;Initial Catalog=ClubcardCoupon;User Id=devuser;Password=Tesco123;"
      providerName="System.Data.SqlClient" />
    <add name="SmartVoucherDbServer" connectionString="Data Source=172.21.181.68;Initial Catalog=Tesco_SmartV_Ref;User Id=sa;Password=Tesco123;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="0" value="Success" />
    <add key="100" value="Inadequate parameters in request" />
    <add key="101" value="Incompatible parameter format" />
    <add key="102" value="Internal operation failed" />
    <add key="103" value="Unable to resolve Clubcard Number to Household ID, Service not responding" />
    <add key="104" value="No record available for given request" />
    <add key="DefaultCulture" value="en-GB" />
    <add key="NoOfTillCoupons" value="1" />
    <add key="VaTEnable" value="1" />
    <add key="NoOfTillVouchers" value="1" />
    <add key ="AdHocRedemptionStartPeriod" value="1" />    <!--This is the value in days after which redemption will start--> 
    <add key ="AdHocRedemptionEndPeriod" value="28" /> <!--This is the value in days after which redemption will stop -->
  </appSettings>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICustomerService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.21.149.229/CCOServices/CustomerService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
          contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service behaviorConfiguration="CheckOutBehaviour" name="Tesco.Marketing.IT.ClubcardCoupon.CheckOutService.ClubcardCouponCheckOutService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" name="CheckOutServiceEndPoint" contract="Tesco.Marketing.IT.ClubcardCoupon.CheckOutService.IClubcardCouponCheckOutService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="CheckOutServiceEndPointMex"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/CheckOutService/CheckOutService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CheckOutBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
