<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataRoot" value="D:\Temp"/>
    <add key="CurrentCulture" value="en-GB"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings configSource="Config\wcfstandardbinding.config"/>
    <client configSource="Config\wcfclientendpoints.config"/>
    <behaviors configSource="Config\wcfbehaviors.config"/>
  </system.serviceModel>
</configuration>
