<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-WebAPI-20161007153348;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="IdentityURL" value="https://PPE-backend-identity.dotcom.tesco.org/v3/api/auth/validateToken"/>-->
    <add key="IdentityURL" value="http://localhost/eservices/v3/api/auth/ValidateToken"/>
    <add key="EncryptedClientAuthFile" value="~/Config/encryptedclientauth.json" />
    <add key="EnableIdentityValidation" value="0"/>
    <add key="EncryptionKey" value="647B1C18-8F30-41D1-B8F5-5363520D50FF" />
    <add key="SaltKey" value="@@££##" />
    <add key="ServiceLibrary" value="~/ServiceLibs" />
    <add key="NLogConfigPath" value="Config\NLog.config"/>
    <add key="LoggingLevel" value="error"/>
    <add key="ValidateAppKey" value="0"/>
    <add key="ValidateOAuth" value="0"/>
    <add key="ValidateWithEnterprise" value="1"/>
    <add key="IsEventLogEnabled" value="1"/>
    <add key="oauthrequestnotolderthan" value="300"/>
    <add key="activecacheprovider" value="redis"/>
    <add key="redishost" value="localhost"/>
    <add key="redisport" value="6379"/>
    <add key="redispassword" value="RtONy9btytC57/q7UBb4UUriDlRWZpLsj6VBGBy+edM8hO9UqpZZbw=="/>
    <add key="cachelifespanseconds" value="200"/>
    <add key="culture" value="en-GB" />
    <add key="DateFormats" value="'M/d/yyyy h:mm:ss tt', 'M/d/yyyy h:mm tt',
'M/d/yyyy h:mm:ss tt', 'M/d/yyyy h:mm tt',
'MM/dd/yyyy hh:mm:ss', 'M/d/yyyy h:mm:ss',
'M/d/yyyy hh:mm tt', 'M/d/yyyy hh tt',
'M/d/yyyy h:mm', 'M/d/yyyy h:mm',
'MM/dd/yyyy hh:mm', 'M/dd/yyyy hh:mm',
'yyyy/MM/dd hh:mm', 'yyyy/MM/dd hh:mm:ss',
'yyyy-MM-ddThh:mm:ss:fff', 'yyyy-MM-ddThh:mm:ss',
'yyyy-MM-dd hh:mm:ss', 'yyyy-MM-dd hh:mm',
'M-dd-yyyy h:mm:ss', 'M-dd-yyyy h:mm',
'M-dd-yyyy hh:mm:ss', 'M-dd-yyyy hh:mm',
'yyyy/M/dd hh:mm', 'yyyy/M/dd hh:mm:ss',
'M/d/yyyy H:mm:ss tt', 'M/d/yyyy H:mm tt',
'MM/dd/yyyy HH:mm:ss', 'M/d/yyyy H:mm:ss',
'M/d/yyyy HH:mm tt', 'M/d/yyyy HH tt',
'M/d/yyyy H:mm', 'M/d/yyyy H:mm',
'MM/dd/yyyy HH:mm', 'M/dd/yyyy HH:mm',
'yyyy/MM/dd HH:mm', 'yyyy/MM/dd HH:mm:ss',
'yyyy-MM-ddTHH:mm:ss:fff', 'yyyy-MM-ddTHH:mm:ss',
'yyyy-MM-dd HH:mm:ss', 'yyyy-MM-dd HH:mm',
'M-dd-yyyy H:mm:ss', 'M-dd-yyyy H:mm',
'M-dd-yyyy HH:mm:ss', 'M-dd-yyyy HH:mm',
'yyyy/M/dd HH:mm', 'yyyy/M/dd HH:mm:ss',
'dd/MM/yy', 'MMM dd yyyy hh:mmtt', 'MMM d yyyy hh:mmtt',
'yyyy-MM-ddTHH:mm:sszzz', 'yyyy-MM-ddTHH:mm:ssTZD',
'yyyy-MM-ddTHH:mm:ssTZ', 'dd MMM yyyy',
'dd/MM/yyyy HH:mm:ss', 'yyyy-mm-dd',
'MMM  d yyyy hh:mmtt','dd/MM/yyyy','dd/mm/yyyy',
'yyyy-MM-ddTHH:mm:ss.fffzzz',
'yyyy-MM-ddTHH:mm:ssZ','yyyy-MM-ddTHH:mm:ss.fffffffzzz',
'yyyy-MM-ddThh:mm:ss.ffzzz','d/M/yyyy','dd/M/yyyy'"/>    
  </appSettings>
  <system.serviceModel>
    <bindings configSource="Config\wcfstandardbinding.config" />
    <client configSource="Config\wcfclientendpoints.config" />
    <behaviors configSource="Config\wcfbehaviors.config" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000" maxQueryString="1024" maxUrl="2048">
          <headerLimits>
            <add header="Content-type" sizeLimit="100"/>
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>