#cookie-notification {
	background: $ddl-white2;
	position: relative;
	z-index: 9999999;

	.container {
		padding: 20px 40px 20px 20px;

		:first-child {
			padding-top: 0;
		}

		.ddl-icon-after {
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;

			&:after {
				font-size: 10px;
			}
		}
	}
}