<!-- This is the master list of client endpoints for Martini WCF services. -->
<client>
  <endpoint address="http://172.25.32.251:81/LOCATORSVC/Locator.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
    contract="Contracts.ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />	
  
  <endpoint address="http://localhost/ngc/RewardService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="RewardService.IRewardService" 
			name="WSHttpBinding_IRewardService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost/ngc/ClubcardCouponService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="ClubcardCouponServices.IClubcardCouponService" 
			name="WSHttpBinding_IClubcardCouponService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost/ngc/SmartVoucherServices.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="SmartVoucherServices.ISmartVoucherServices" 
			name="WSHttpBinding_ISmartVoucherServices">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost/ngc/clubcardService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="ClubcardService.IClubcardService" 
			name="WSHttpBinding_IClubcardService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost/ngc/CustomerService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint> 
  <endpoint address="http://localhost/ngc/JoinLoyaltyService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="JoinLoyaltyService.IJoinLoyaltyService" 
			name="WSHttpBinding_IJoinLoyaltyService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost/ngc/UtilityService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="NGCUtilityService.IUtilityService" 
			name="WSHttpBinding_IUtilityService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost/ngc/ActivationServices.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" 
			contract="CustomerActivationServices.IClubcardOnlineService"
    name="wsHTTP">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://localhost/ngc/PreferenceService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBinding"
			contract="PreferenceServices.IPreferenceService" 
			name="WSHttpBinding_IPreferenceService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
</client>
    