<behaviors>
  <endpointBehaviors>
    <behavior name="MCAServiceBehavior">
      <clientCredentials>
        <serviceCertificate>
          <authentication revocationMode="NoCheck" />
        </serviceCertificate>
        <clientCertificate findValue="clubcardapplication" x509FindType="FindBySubjectName" storeLocation="LocalMachine"  storeName="My" />
      </clientCredentials>
      <!--We need to use clientvia to avoid addressfilter mismatch when WCF router is in place-->
      <clientVia viaUri="https://Clubcardservicerouter.ukroi.tesco.org/WCFRouter/Router.svc" />
    </behavior>
    <behavior name="ServiceBehavior">
      <!--We need to use clientvia to avoid addressfilter mismatch when WCF router is in place-->
      <clientVia viaUri="https://clubcardservicerouter.ukroi.tesco.org/WCFRouter/Router.svc" />
    </behavior>
  </endpointBehaviors>
</behaviors>
