.ddl-currency-list {

	li {
		width: 48%;
		margin: 0 1% 20px 1%; 
		padding: 10px 110px 10px 50px !important;
		float: left;
		border-width: 1px;

		label {

			 .status {
				width: 100px;
			}
		}
	}

}
