<!-- This is the master list of client endpoints for Martini WCF services. -->

<client>
  <endpoint address="http://sharedwebservices:81/ConfigurationSDA/Service.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Configuration.SensitiveDatabaseAccess.IDataAccessService" />
  <endpoint address="http://sharedwebservices:81/AuditingSDA/AuditingSensitiveDataAccess.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardSecurityWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Security.AccessControl.Auditing.AuditingSdaService.IAuditingSensitiveDatabaseAccess" />
  <endpoint address="http://sharedwebservices:81/AuthenticationPasswordSDA/PasswordSensitiveDataAccess.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardSecurityWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Security.AccessControl.Authentication.PasswordSdaService.IDatabaseAccessService" />
  <endpoint address="http://sharedwebservices:81/AuthenticationSDA/AuthenticationSensitiveDataAccess.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardSecurityWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Security.AccessControl.Authentication.AuthenticationSdaService.IDatabaseAccessService" />
  <endpoint address="http://sharedwebservices:81/AuthorisationManagementSDA/AuthMgmtSensitiveDataAccess.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardSecurityWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Security.AccessControl.AuthorisationManagement.AuthorisationManagementSdaService.IAuthorisationManagementSensitiveDatabaseAccess" />
  <endpoint address="http://sharedwebservices:81/AuthorisationSDA/AuthorisationSensitiveDataAccess.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardSecurityWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Security.AccessControl.Authorisation.AuthorisationSdaService.IAuthorisationSensitiveDatabaseAccess" />
  <endpoint address="http://sharedwebservices:81/IdentificationSDA/IdentificationSensitiveDataAccess.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardSecurityWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Security.AccessControl.Identification.IdentificationSdaService.IIdentificationSensitiveDatabaseAccesss" />
  <endpoint address="http://sharedwebservices:81/MaterialStoreSDA/SensitiveDatabaseAccess.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardSecurityWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Security.KeyManagement.MaterialStore.SensitiveDatabaseAccessService.IDatabaseAccessService" />
  <endpoint address="http://sharedwebservices:81/PaymentSvcSDA/PaymentSDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="PaymentSvcsSDAOperations.IPaymentSvcsSDAOperations" />
  <endpoint address="http://sharedwebservices:81/PaymentSvcCoreSDA/PaymentCoreSDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="PaymentSvcsCoreSDAOperations.IPaymentSvcsCoreSDAOperations" />
  <endpoint address="http://sharedwebservices:81/StockSvcSDA/StockSvcSDAOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="StockSvcSDAOperations.IStockSvcSDA" />
  <endpoint address="http://sharedwebservices:81/StockSvcCoreSDA/StockSvcsCoreSDAOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="StockSvcsCoreSDAOperations.IStockSvcCoreSDA" />
  <endpoint address="http://sharedwebservices:81/CustomerSvcSDA/CustomerSvcSDAOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="CustomerSvcSDA.ICustomerSvcSDA" />
  <endpoint address="http://sharedwebservices:81/CustomerSvcCoreSDA/CustomerSvcsCoreSDAOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="CustomerCoreSvcSDA.ICustomerSvcsCoreSDA" />
  <endpoint address="http://sharedwebservices:81/LocatorSvc/Locator.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="LocatorSvcSDA.ILocatorSvcSDA" />
  <endpoint address="http://sharedwebservices:81/TracerSvcSDA/TracerSvcSDAOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="TracerSvcSDAOperations.ITracerSvcSDA" />
  <endpoint address="http://sharedwebservices:81/LoyaltySvc/LoyaltySvcOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="LoyaltySvcs.ILoyaltySvc" />
  <endpoint address="http://sharedwebservices:81/DeliverySvc/DeliverySvc.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="IntegrationDelivery.IDeliverySvc" />
  <endpoint address="http://sharedwebservices:81/DeliverySvcSDA/DeliverySvc.SDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="DeliverySvcSDAOperations.IDeliverySvcSDA" />
  <endpoint address="http://sharedwebservices:81/WorkflowServices/WFServices.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="Tesco.Com.RetailServices.Workflow.WorkflowServices.WorkflowServiceClient.WorkflowServices.IWorkflowServices" />
  <endpoint address="http://sharedwebservices:81/EmployeeSvcSDA/EmployeeSDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="EmployeeSvcsSDAOperations.IEmployeeSvcsSDAOperations" />
  <endpoint address="http://sharedwebservices:81/TargetingSvcSDA/TargetingSDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="TargetingSvcsSDAOperations.ITargetingSvcsSDAOperations" />
  <endpoint address="http://sharedwebservices:81/NotificationService/Notification.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="Tesco.Com.Framework.Services.Notification.NotificationWCFService.INotificationServiceProvider" />
  <endpoint address="http://sharedwebservices:81/NotificationService/Notification.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="Tesco.Com.Retail.Workflow.Activity.Sell.Contract.Grocery.NotificationService.INotificationServiceProvider" />
  <endpoint address="https://www.tescotechnicallibrary-test.com/uat/tesco/Test/Web%20Service%20Agent.nsf/TTLWebserviceRequest"
    binding="basicHttpBinding" bindingConfiguration="TTLWebserviceBindingConfig"
    contract="Tesco.Com.Integration.Applications.ProductEnhancement.Components.sku_serviceSoap"
    name="sku_serviceSoap" />
  <endpoint address="http://sharedwebservices:81/DeliverySvcSDA/DeliverySvc.SDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="Tesco.Com.RetailServices.Capabilities.Delivery.DeliveryMessageSDA.IDeliveryMessagingSensitiveDatabaseAccess" />
  <endpoint address="http://sharedwebservices:81/ContentSvcSDA/ContentSvcSDAOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="ContentSDAHostIIS.IContentSvcSDA" />
  <endpoint address="http://sharedwebservices:81/GroceryContractSvcCoreSDA/Grocery.ContractSvc.Core.SDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="GroceryContractSvcCoreSDAOperations.IGroceryContractSvcCoreSDA" />
  <endpoint address="http://sharedwebservices:81/WineContractSvcCoreSDA/Wine.ContractSvc.Core.SDA.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="WineContractSvcCoreSDAOperations.IWineContractSvcCoreSDA" />
  <endpoint address="http://sharedwebservices:81/OrderDxshOrderSvc/Order.Dxsh.OrderSvc.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="OrderDxshSvcOperations.IOrderDxshSvc" />
  <endpoint address="http://sharedwebservices:81/OrderOmsOrderSvc/Order.Oms.OrderSvc.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="OrderOmsSvcOperations.IOrderOmsSvc" />
  <endpoint address="http://sharedwebservices:81/CardPaymentSvc/CardPayment.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="CardPaymentSvc.ICardPaymentSvcs" />
  <endpoint address="http://sharedwebservices:81/VoucherGiftCardSvc/VoucherGiftCard.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="VoucherGiftCardSvc.IVoucherGiftCardSvcs" />
  <endpoint address="http://sharedwebservices:81/StateRegisterSvc/StateRegister.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="StateRegisterSvc.IStateRegisterSvc" />
  <endpoint address="http://sharedwebservices:81/CouponSvc/Coupon.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="CouponSvc.ICouponSvc" />
  <endpoint address="http://sharedwebservices:81/LegacyReferenceDataSvc/LegacyReferenceData.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="LegacyReferenceData.ILegacyReferenceDataSvc" />
  <endpoint address="http://sharedwebservices:81/LegacyReferenceDataSvcSDA/LegacyReferenceData.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="LegacyReferenceData.SDA.ILegacyReferenceDataSvcSDA" />
  <endpoint address="http://sharedwebservices:81/OrderGroceryOrderSvc/Order.Grocery.OrderSvc.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="OrderGrocerySvcOperations.IOrderGrocerySvc" />
  <endpoint address="http://sharedwebservices:81/MessagingSvc.SDA/MessagingSvcSDAOperations.svc"
    binding="wsHttpBinding" bindingConfiguration="StandardWcfClientBinding"
    contract="MessagingSvcsSDAOperations.IMessagingSvcSDA" />
  <endpoint address="http://172.25.32.251:81/LOCATORSVC/Locator.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
    contract="ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/RewardServices/RewardService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRewardService"
    contract="RewardService.IRewardService" name="WSHttpBinding_IRewardService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/eCouponServices/CouponService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICouponService"
    contract="CouponService.ICouponService" name="WSHttpBinding_ICouponService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/ClubcardCouponService/ClubcardCouponService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponService"
    contract="ClubcardCouponServices.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/SmartVoucherUK/SmartVoucherServices.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmartVoucherServices"
    contract="SmartVoucherServices.ISmartVoucherServices" name="WSHttpBinding_ISmartVoucherServices">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/CCOServices/ClubcardService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardService"
    contract="ClubcardService.IClubcardService" name="WSHttpBinding_IClubcardService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/CCOServices/CustomerService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
    contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  

  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/JoinService/JoinLoyaltyService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJoinLoyaltyService"
    contract="JoinLoyaltyService.IJoinLoyaltyService" name="WSHttpBinding_IJoinLoyaltyService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/UtilityService/UtilityService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilityService"
    contract="NGCUtilityService.IUtilityService" name="WSHttpBinding_IUtilityService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/ActivationServices/ActivationServices.svc"
    binding="wsHttpBinding" bindingConfiguration="wsHTTP" contract="CustomerActivationServices.IClubcardOnlineService"
    name="wsHTTP">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/Preferences/PreferenceService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPreferenceService"
    contract="PreferenceServices.IPreferenceService" name="WSHttpBinding_IPreferenceService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/CCOServices/AdminService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdminService"
    contract="AdminService.IAdminService" name="WSHttpBinding_IAdminService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://clubcardwebservices.ops.ukroi.tesco.org/CCOServices/MarketingService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMarketingService"
    contract="MarketingService.IMarketingService" name="WSHttpBinding_IMarketingService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
</client>