<div>
<div style="float:left"> <h2 id="top" class="title">{0}</h2></div><span class="info" style="float:right">{1}</span>
<hr width="100%" align="left"/>
<h3>Summary:{2}</h3>
<table cellpadding="2" cellspacing="0" width="100%" class="summaryTable" id="summaryTable">
<tr>
<td><b>PendingTestCases : {3}</b></td>
<td><b>InProgressTestCases : {4}</b></td>
<td><b>CompletedTestCases : {5}</b></td>
</tr>
<tr>
<td><b>Warnings : {6}</b></td>
<td><b>Disconnected : {7}</b></td>
<td><b>NotExecuted : {8}</b></td>
</tr>
<tr>
<td><b>NotRunnable : {9}</b></td>
<td><b>PassedButRunAborted : {10}</b></td>
<td><b>Inconclusive : {11}</b></td>
</tr>
<tr>
<td><b>Aborted : {12}</b></td>
<td><b>Timeout : {13}</b></td>
<td><b>Failed : {14}</b></td>
</tr>
<tr>
<td><b>Error : {15}</b></td>
<td><b>Passed : {16}</b></td>
<td><b>Executed : {17}</b></td>
</tr><tr>
<td><b>Total : {18}</b></td>
<td colspan="2"></td>
</tr>
</table>
</div>

