<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IClubcardCouponService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICustomerService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPreferenceService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IJoinLoyaltyService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ISmartVoucherServices" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ILocatorSvcSDA" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IClubcardService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IUtilityService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>     
      <!--<DBT>-->
      <!--<client>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/ClubcardCouponService/ClubcardCouponService.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponService"
                  contract="ClubcardCouponService.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/CCOServices/CustomerService.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                  contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/JoinService/JoinLoyaltyService.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJoinLoyaltyService"
                  contract="JoinLoyaltyService.IJoinLoyaltyService" name="WSHttpBinding_IJoinLoyaltyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/SmartVoucherUK/SmartVoucherServices.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmartVoucherServices"
                  contract="SmartVoucherService.ISmartVoucherServices" name="WSHttpBinding_ISmartVoucherServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/Preferences_Exalt/PreferenceService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPreferenceService"
          contract="PreferenceService.IPreferenceService" name="WSHttpBinding_IPreferenceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://ops01mapp08.comops.uk.tesco.org:81/LOCATORSVC/Locator.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
                  contract="LocatorService.ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
                  
         <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/CCOServices/ClubcardService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardService"
          contract="ClubcardService.IClubcardService" name="WSHttpBinding_IClubcardService">

           <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/UtilityService/UtilityService.svc"
                    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilityService"
                    contract="UtilityService.IUtilityService" name="WSHttpBinding_IUtilityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
                  
      </client>-->
      <!--<GD>-->
      <client>
        <endpoint address="http://dvdcccoweb006uk.dev.global.tesco.org/ClubcardCouponService/ClubcardCouponService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponService"
          contract="ClubcardCouponService.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb006uk.dev.global.tesco.org/CCOServices/CustomerService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
          contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb006uk.dev.global.tesco.org/JoinService/JoinLoyaltyService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJoinLoyaltyService"
          contract="JoinLoyaltyService.IJoinLoyaltyService" name="WSHttpBinding_IJoinLoyaltyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb006uk.dev.global.tesco.org/SmartVoucherUK/SmartVoucherServices.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmartVoucherServices"
          contract="SmartVoucherService.ISmartVoucherServices" name="WSHttpBinding_ISmartVoucherServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb006uk.dev.global.tesco.org/Preferences_Exalt/PreferenceService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPreferenceService"
          contract="PreferenceService.IPreferenceService" name="WSHttpBinding_IPreferenceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://ops01mapp08.comops.uk.tesco.org:81/LOCATORSVC/Locator.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
          contract="LocatorService.ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/UtilityService/UtilityService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilityService"
          contract="UtilityService.IUtilityService" name="WSHttpBinding_IUtilityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb006uk.dev.global.tesco.org/CCOServices/ClubcardService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardService"
          contract="ClubcardService.IClubcardService" name="WSHttpBinding_IClubcardService" />
      </client>
    </system.serviceModel>
</configuration>


