<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="ExceptionloggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="D:\Trace\CSC\trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="DateTime" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <ExceptionloggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="DateTime" filter="Error" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </ExceptionloggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Exception Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" useDefaultLogger="false" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <appSettings>
    <add key="CultureDefault" value="pl-PL"/>
    <add key="Culture" value="pl-PL"/>
    <add key="LoginDefaultCulture" value="pl-PL"/>
    <add key="user1ID" value="CCO1"/>
    <add key="userPSWD" value="cc@test"/>
    <add key="user2ID" value="CCO2"/>
    <add key="StatementFormatPath" value="I:\Hosting\MCADundeeApplication\StatementFormats\"/>
    <add key="ORDRPL_PROCESSWINDOW" value="0"/>
    <add key="ServiceConsumer" value="Tesco.com"/>
    <add key="TimerCCOCookieExpiration" value="30"/>
    <add key="MaxCardsCount" value="1"/>
    <add key="Domains" value="PL-TESCO"/>
    <add key="LDAPPaths" value="LDAP://106.0.16.40/DC=pl,DC=tesco-europe,DC=com"/>
    <add key="SaveTreePrefStartDate" value="03/01/2012"/>
    <add key="ResetPswdLink" value="http://172.29.3.17/Microsite/Signin.aspx?fght="/>
    <add key="Domain" value="pl-PL"/>
    <add key="LDAPPassword" value="Tesco@123"/>
    <add key="LDAPUserId" value="svc_service_ngc"/>
    <add key="LDAPPathIN" value="LDAP://106.0.16.40/DC=pl,DC=tesco-europe,DC=com"/>
    <add key="ExpiryBatchDate" value="30-09"/>
    <add key="ActivationEmail" value="TestingAPI2"/>
    <!--<add key="ActivationEmail" value="E3_Activation_TS"/>-->
    <add key="ForgotPwdEmail" value="E6_ForgottonPassword_TS"/>
    <add key="WelcomeEmail" value="E9_Welcome_TS"/>
    <add key="PreferenceVegitarian" value="1"/>
    <add key="PreferenceHalal" value="3"/>
    <add key="PreferenceKosher" value="4"/>
    <add key="PreferenceDiabetic" value="20"/>
    <add key="PreferenceNonAlcoholic" value="41"/>
    <add key="ProjectTitle" value="Clubcard1"/>
    <!-- Report Module -->
    <add key="NGCReportFormatterDirectory" value="I:\NGCReportFormatter"/>
    <add key="LocalisationPath" value="D:\LOCALIZATION\"/>
    <add key="ReportName1" value="Clubcard Registration Report"/>
    <add key="NGCDownloadReportsFolder" value="D:\"/>   
    <!--Newly added keys-->
    <!--In ECoupon to Show Date format in dd/MM/yyyy as per Regional Setting of Server -->
    <!--<add key="ServerSpecificDateFormat" value="dd/MM/yyyy hh:mm:ss,dd/MM/yyyy HH:mm:ss,dd/MM/yyyy hh:mm:ss tt,dd/MM/yyyy HH:mm:ss tt,dd/M/yyyy hh:mm:ss tt,dd/M/yyyy HH:mm:ss tt,d/M/yyyy hh:mm:ss tt,d/M/yyyy HH:mm:ss tt,d/M/yyyy h:mm tt,d/M/yyyy H:mm tt,dd/M/yyyy h:mm:ss tt,dd/M/yyyy H:mm:ss tt"/>-->
    <add key="ServerSpecificDateFormat" value="MM/dd/yyyy hh:mm:ss,MM/dd/yyyy HH:mm:ss,MM/dd/yyyy hh:mm:ss tt,MM/dd/yyyy HH:mm:ss tt,M/dd/yyyy hh:mm:ss tt,M/dd/yyyy HH:mm:ss tt,M/d/yyyy hh:mm:ss tt,M/d/yyyy hh:mm:ss,M/d/yyyy HH:mm:ss tt,M/d/yyyy h:mm tt,M/d/yyyy H:mm tt,M/dd/yyyy h:mm:ss tt,M/dd/yyyy H:mm:ss tt"/>
    <add key="smtpClient" value="192.168.208.45"/>
    <add key="fromAddressForBT" value="Clubcard@tesco.com"/>
    <add key="TemplatePath" value="D:\MCAhosting\WebApplication\MCADundeeApplication\Template\welcome.html"/>
    <add key="ClubCardMinLength" value="16"/>
    <add key="ClubCardMaxLength" value="18"/>
    <add key="SpecifiedDateFormat" value="dd/M/yyyy"/>
    <add key="Linkerfordate" value="/"/>
    <!--used to enable or disable xmas date configuration in dataconfiguration page if yes show dateds if no hide dates-->
    <add key="xmasdatesconfigreq" value="yes"/>
    <!--used to enable or disable big exchange date configuration in dataconfiguration page if yes show dateds if no hide dates-->
    <add key="bigexchangedatesconfigreq" value="yes"/>
    <add key="LDAPAddUserSplit" value="space"/>
    <add key="ShowLoginFlag" value="false"/>
    <add key="ShowLocalizationFlag" value="true"/>
    <add key="LoginFlagImageURL" value="FlagPL.gif"/>
    <add key="AddressLineLen" value="0"/>
    <add key="PartnerIDMaxLength" value="7"/>
    <!-- added a key to display other clubcard status in chnage primarycard screen -->
    <add key="StatusInChangePrimaryScreen" value ="Current"/>
    <!--CR Changes Phase 1 Start-->
    <add key="DateDisplayFormat" value="dd/MM/yyyy HH:mm"/>
    <add key="DateFormat" value=""/>
    <!--CR Changes Phase 1 End-->
    <!-- Poland Legal Changes start -->
    <add key ="IsGridFormat" value ="false"/>
    <add key ="IsOptInBehavior" value ="true"/>
    <!-- CCMCA 407: added  by laxmi-->
    <add key="TopupRange" value="1,25,50,100,200,200"/>
    <add key="BonusVoucher" value="0,1.50,3,6,12,12"/>
    <add key="Topuptoreceivemaxbonus" value="200"/>
    <add key="MaxBonusVoucher" value="12"/>
    <add key="EnableProvince" value ="false"/> 
    <add key="EnableAviosMembership" value="false"/>
    <add key="LengthforAvios" value="16,16"/>
    <add key="LengthforBAAvios" value="8,8"/>
    <add key="LengthforVirginA" value="10,11"/>
    <!-- CCMCA 407: added  by laxmi-->
    <!-- Poland Legal Changes end -->

<!--DOB year Configurable Old value:99 Years only-->
<add key="DOBYears" value="120"/>
  </appSettings>
  <system.web>
<trace enabled="false" requestLimit="8000" localOnly="false" pageOutput="false"/>
<!-- Machine key is static - For Web Farm environment-->
<machineKey validationKey="5AA3AE2BD4F0DD6FA88771141CDA83B41A20A29D8A73A3469786BC2B232B1037A7AACB07CCDBBBA5B81AEA701A3EC0048E08E9149BA3DE11B72CB3135F0DFB13" decryptionKey="7FDD6ECA01D8FDB3300914B4545B9EE42AAF03C74B12B1A5BFAF77835D3AB039" validation="SHA1" decryption="AES"/>


    <membership defaultProvider="CustomizedProvider">
      <providers>
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SecurityConnectionString" applicationName="/" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5" passwordFormat="Encrypted" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true"/>
      </providers>
    </membership>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <sessionState mode="InProc"/>
    <compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
    </customErrors>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>

  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <!-- Remove unnecessary Http Modules for faster pipeline -->
      <remove name="Session"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="AnonymousIdentification"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings configSource="wcfstandardbinding.config"/>
    <client configSource="wcfclientendpoints.config"/>
    <behaviors configSource="wcfbehaviors.config"/>
  </system.serviceModel>
</configuration>
