<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultExcelFile" value="..\..\..\..\Configurations\All_Configuration.xlsx" />
		<add key="OutputDirectory" value="..\..\..\..\" />
		<add key="CulturesXMLFile" value="Data/cultures.xml" />
		<add key="DefaultOutputFolder" value="D:\Configuration" />
		<add key="SchemaFile" value="Data/Schema.xml" />
		<add key="ConfigurationFileName" value="Config\dbConfiguration.xml" />
</appSettings>
</configuration>