
.ddl-paired-list {
	padding-left: 40%;

	dt {
		clear: left;
		float: left;
		margin: 0 0 0 -100%;
		padding: 10px 0 10px  35%;
	}

	dd {
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 10px 0 10px  20px;
	}
}