<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
	</configSections>
	<!--Added for exception handling-->
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
		   defaultCategory="Default Category" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add source="Microsite Error" formatter="Default Formatter"
					log="" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					traceOutputOptions="None" filter="Error" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="Event Log Destination" />
			<add fileName="C:\Trace\AuthGatewayPosService\AuthGatewayPosService.log" footer="----------------------------------------"
					formatter="Text Formatter" header="----------------------------------------"
					rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="10000"
					timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					traceOutputOptions="DateTime" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="Rolling Flat File Trace Listener" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xD;&#xA;          Message: {message}&#xD;&#xA;          Category: {category}&#xD;&#xA;          Priority: {priority}&#xD;&#xA;          EventId: {eventid}&#xD;&#xA;          Severity: {severity}&#xD;&#xA;          Title:{title}&#xD;&#xA;          Machine: {machine}&#xD;&#xA;          Application Domain: {appDomain}&#xD;&#xA;          Process Id: {processId}&#xD;&#xA;          Process Name: {processName}&#xD;&#xA;          Win32 Thread Id: {win32ThreadId}&#xD;&#xA;          Thread Name: {threadName}&#xD;&#xA;          Extended Properties: {dictionary({key} - {value})}"
					type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="Default Formatter" />
			<add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
					type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="Text Formatter" />
		</formatters>
		<logFilters>
			<add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="Category" />
			<add minimumPriority="0" maximumPriority="9" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					name="Priority" />
		</logFilters>
		<categorySources>
			<add switchValue="Error" name="Default Category">
				<listeners>
					<add name="Event Log Destination" />
				</listeners>
			</add>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="Error" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Destination" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Log Only Policy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
								postHandlingAction="None" name="Exception">
						<exceptionHandlers>
							<add logCategory="Default Category" eventId="100" severity="Error"
											title="Exception Management Application Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
											priority="1" useDefaultLogger="true" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
											name="Logging Handler" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>

	<appSettings>
		<!--Parameter to hold the culture information specific to each country-->
		<add key="cultureInfo" value="tr-TR" />
		<!--Parameter to hold the User Name -->
		<add key="userName" value="NGCAdmin" />
		<!--Parameter to hold the Default Customer Name-->
		<add key="customerName" value="Bilinmeyen Ad" />
		<!--Parameter to hold the Default Data Protection Preference-->
		<add key="DefaultDataProtectionPreference" value="0" />
		<!--Parameter to hold the Default value for fetching Coupon Details-->
		<add key="FetchCouponDetails" value="1" />
		<add key="ProjectTitle" value="AG" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IClubcardCouponEnquiryService" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
					maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
					allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
						enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
							establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://172.29.15.16/CouponEnquiryService/CouponEnquiry.svc"
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponEnquiryService"
				contract="CouponEnquiryService.IClubcardCouponEnquiryService"
				name="WSHttpBinding_IClubcardCouponEnquiryService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
		<services>
			<service name="Tesco.NGC.PosNGCWebService.PosNGCService" behaviorConfiguration="PosNGCWebService.PosNGCServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8731/Design_Time_Addresses/PosNGCWebService/PosNGCService/" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<!-- Unless fully qualified, address is relative to base address supplied above -->
				<endpoint address="" binding="wsHttpBinding" contract="Tesco.NGC.PosNGCWebService.IPosNGCService">
					<!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
				<!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="PosNGCWebService.PosNGCServiceBehavior">
					<!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="True" />
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>