<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="InstoreClubcardReward.NGC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings>
	<add key="InstoreClubcardReward.NGC.NGCDirect.MessagingWebService" value="http://localhost/NGCUKMessagingWebService/NGCUKMessagingService.asmx"/>
	<add key="InstoreClubcardReward.NGC.WebReference.Authorise" value="http://172.23.13.243/tesco.pos.authgateway.central/authorise.asmx"/>
</appSettings>
    <applicationSettings>
        <InstoreClubcardReward.NGC.My.MySettings>
            <setting name="InstoreClubcardReward_NGC_DoubleUp_DoubleUpService"
                serializeAs="String">
                <value>https://b2bprod.ocset.net/Tes.UK.DoubleUpWS/Submit.asmx</value>
            </setting>
            <setting name="InstoreClubcardReward_NGC_DoubleUpDirect_Service"
                serializeAs="String">
                <value>http://172.21.110.27/DupWS/Service.asmx</value>
            </setting>
            <setting name="InstoreClubcardReward_NGC_NGCDirect_MessagingWebService"
                serializeAs="String">
                <value>http://192.168.208.43/NGCWebService/NGCUKMessagingService.asmx</value>
            </setting>
            <setting name="InstoreClubcardReward_NGC_WebReference_Authorise"
                serializeAs="String">
                <value>http://192.168.208.41/tesco.pos.authgateway.central/authorise.asmx</value>
            </setting>
        </InstoreClubcardReward.NGC.My.MySettings>
    </applicationSettings>
</configuration>


