<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<Product Id="ba1c5196-f93f-4f9a-ae53-34c0a5849b6d" Name="AdHocCouponService" Language="1033" Version="1.1.0.0" Manufacturer="Tesco" UpgradeCode="ba36bd98-30a7-480f-9ccc-70c8bf157260">
		<Package InstallerVersion="200" Compressed="yes" />

		<?include PreReqCheck.wxi ?>

		<Upgrade Id='ba36bd98-30a7-480f-9ccc-70c8bf157260'>
			<UpgradeVersion OnlyDetect='yes' Property='SELFFOUND'
			  Minimum='1.0.0.0' IncludeMinimum='yes'
			  Maximum='1.5.0.0' IncludeMaximum='yes' MigrateFeatures='yes' />
			<UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
			  Minimum='1.0.0.0' IncludeMinimum='yes' MigrateFeatures='yes' />
		</Upgrade>

		<CustomAction Id='AlreadyUpdated' Error='AdHoc Coupon Service 1.0 has already been updated to 1.1 or newer.' />
		<CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Property Id="REPORTING_CONNECTION_STRING" Value="Data Source=172.21.214.56;Initial Catalog=ClubcardCoupon;User Id=sa;Password=;"/>

		<Property Id="OLTP_CONNECTION_STRING" Value="Data Source=172.21.214.56;Initial Catalog=ClubcardCoupon;User Id=sa;Password=;"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">

				<Directory Id="INSTALLLOCATION" Name="ClubcardCouponService">

					<!-- AdHoc Coupon  Service Components. -->

					<Directory Id="AdHocCouponServiceDir" Name="AdHocCouponService">
						<Component Id="AdHocCouponServiceVirtualDir" Guid="{F24F80DE-B9AD-470E-A157-144DC9E7CF98}">
							<CreateFolder />
							<iis:WebVirtualDir Id='AdHocCouponServiceVirtualDir' Alias='AdHocCouponService' Directory='AdHocCouponServiceDir'
											   WebSite='DefaultWebSite'>
								<iis:WebApplication Id='AdHocCouponService' Name='AdHocCouponService'  WebAppPool='AdHocCouponServiceAppPool' Isolation='medium' />
							</iis:WebVirtualDir>
						</Component>
					</Directory>

					<Component Id="AdHocCouponServiceAppPool" Guid="{F90B55FB-F1C5-455F-B5D4-F947BE8F2E1A}" >
						<CreateFolder />
						<iis:WebAppPool Id="AdHocCouponServiceAppPool"
										Name="AdHocCouponServiceAppPool"
										Identity="localSystem" ManagedPipelineMode="integrated"
										ManagedRuntimeVersion="v4.0" />
					</Component>

					<!-- End of AdHoc Coupon  Service Components. -->

					<Directory Id="dir_5136D1C50F6A466F83AFDB67B6375BBB" Name="Logs">
						<Component Id="comp_BD7A967F523F44288BABAEA54B0491DE" DiskId="1" KeyPath="yes"  Guid="CCF1B7DD-63C1-498D-9D41-00E10E0C6F2F">
						</Component>
					</Directory>

				</Directory>
			</Directory>
		</Directory>

		<iis:WebSite Id='DefaultWebSite' Description='Default Web Site'>
			<iis:WebAddress Id="AllUnassigned" Port="80"/>
		</iis:WebSite>

		<Feature Id="ProductFeature" Title="AdHocCouponService" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<!-- <ComponentRef Id="ProductComponent" /> -->

			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="group_AdHoc_Coupon" />
			<ComponentGroupRef Id="Product.Generated" />
			<ComponentRef Id="AdHocCouponServiceAppPool" />
			<ComponentRef Id="ConnStringDlg" />
			<ComponentRef Id="AdHocCouponServiceVirtualDir" />

			<ComponentRef Id="cmp81D2AD1B89FB52EAD38300CEA29C5F51" />
			<!--registry component-->
			<ComponentRef Id="comp_BD7A967F523F44288BABAEA54B0491DE" />
			<!--registry component-->
		</Feature>

		<!--<Icon Id="WintellectIcon" SourceFile=".\wintellect.ico" />-->

		<!-- Set up my license and bitmaps. -->
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<WixVariable Id='WixUIBannerBmp' Value='.\Bitmaps\Tesco_banner.bmp' />
		<WixVariable Id='WixUIDialogBmp' Value='.\Bitmaps\Tesco_dlg.bmp' />
		<!-- The WIXUI_INSTALLDIR property has to be set to the installation
         directory so the user can change it in the WiXUI_InstallDir
         sequence.-->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
		<!-- If the user has document folder redirection enabled and the redirected
     folder points to a network location, the default WiXUI_InstallDir
     action is to disallow the install. By setting this property to 1,
     WiXUI_InstallDir will not validate the directory. -->
		<Property Id="WIXUI_DONTVALIDATEPATH" Value="1"/>

		<UI Id ="MySetupUI">
			<!--<UIRef Id="WixUI_Mondo" />-->
			<UIRef Id="WixUI_ErrorProgressText" />
			<UIRef Id="WixUI_InstallDir" />
			<!--<UIRef Id="WixUI_Advanced" />-->
			<DialogRef Id="ConnStringUI" />

			<!--<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">0</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Next" Event="NewDialog" Value="ConnStringUI" >LicenseAccepted = "1"</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="ConnStringUI">1</Publish>-->

			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="ConnStringUI" Order="2">LicenseAccepted = "1"</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="ConnStringUI">1</Publish>

		</UI>

		<!--WixUI_Mondo
			WixUI_Advanced
			WixUI_FeatureTree
			WixUI_InstallDir
			WixUI_Minimal-->

		<InstallExecuteSequence>
			<RemoveExistingProducts Suppress ="yes" />
			<Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
			<Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
		</InstallExecuteSequence>

	</Product>
</Wix>

