<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IClubcardService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICustomerService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IClubcardService1">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISmartVoucherServices">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICouponService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="wsHTTP">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IJoinLoyaltyService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUtilityService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPreferenceService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRewardService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IClubcardCouponService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/CCOServices/ClubcardService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardService" contract="ClubcardService.IClubcardService" name="WSHttpBinding_IClubcardService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp02.ukroi.tesco.org/CCOServices/CustomerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService" contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp04.ukroi.tesco.org/CCOServices/ClubcardService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardService1" contract="ClubcardService.IClubcardService" name="WSHttpBinding_IClubcardService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp04.ukroi.tesco.org/SmartVoucherServices/SmartVoucherServices.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmartVoucherServices" contract="SmartVoucherServices.ISmartVoucherServices" name="WSHttpBinding_ISmartVoucherServices">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp04.ukroi.tesco.org/eCouponServices/CouponService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICouponService" contract="CouponService.ICouponService" name="WSHttpBinding_ICouponService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp04.ukroi.tesco.org/CustomerActivationServices/ActivationServices.svc" binding="wsHttpBinding" bindingConfiguration="wsHTTP" contract="CustomerActivationServices.IClubcardOnlineService" name="wsHTTP" />
      <endpoint address="https://pvukprdccoapp04.ukroi.tesco.org/JoinService/JoinLoyaltyService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJoinLoyaltyService" contract="JoinLoyaltyService.IJoinLoyaltyService" name="WSHttpBinding_IJoinLoyaltyService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp01.ukroi.tesco.org/UtilityService/UtilityService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilityService" contract="NGCUtilityService.IUtilityService" name="WSHttpBinding_IUtilityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp04.ukroi.tesco.org/Preferences/PreferenceService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPreferenceService" contract="PreferenceServices.IPreferenceService" name="WSHttpBinding_IPreferenceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://pvukprdccoapp01.ukroi.tesco.org/RewardServices/RewardService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRewardService" contract="RewardService.IRewardService" name="WSHttpBinding_IRewardService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/ClubcardCouponService/ClubcardCouponService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponService" contract="ClubcardCouponServices.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
