<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- see http://msdn.microsoft.com/library -->
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>
  </configSections>
  <exceptionManagement mode="on">
    <!-- publisher mode="on/off" assembly="AssemblyName" type="TypeName" exclude="(+)Type,(+)Type" include="(+)Type,(+)Type" exceptionFormat="xml" customattr="value" / -->
    <!--<publisher mode="on" assembly="SharedUtils" type="Fujitsu.eCrm.Generic.SharedUtils.PublishFilter" excludeWhere="                                 Client,DataError,CrmService.CsaTxnAddCustomerBanned|                                 Client,ParameterError,CrmService.CardAccountExist|                                 Client,ParameterError,CrmService.InvalidCardNumber|                                 Client,SqlError,CrmService.CsaChangePrimaryCardAccountCardAbnormal|                                 Client,SqlError,UniqueConstraint|                                 Client,XmlError,XmlDomain.IsXmlVersionYoungerThanDbVersion|                                 Client,ParameterError,CrmService.OfficialIdExist|                                 User,*,*"/>-->
  </exceptionManagement>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true">
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="None"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->

    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="Off" timeout="1440"/>
    <!--  PREVENT SOURCE CODE DOWNLOAD
          This section sets the types of files that will not be downloaded. As well as entering
          a httphandler for a file type, you must also associate that file type with the aspnet_isapi.dll
          in the App Mappings property of the web site, or the file can be downloaded.
          It is recommended that you use this section to prevent your sources being downloaded.
    -->
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <appSettings>
    <!-- IF A NEW KEY'S VALUE IS GENERAL TO ALL SERVERS THEN IT SHOULD BE PLACED IN ADMIN DB'S admin_configuration TABLE -->
    <!-- ONLY KEY'S (1) WHOSE VALUE CAN BE DIFFERENT ON DIFFERENT SERVERS, OR (2) DETAILING CONNECTION TO ADMIN DB SHOULD BE PLACED HERE  -->
    <!--	Specifying the type of database containing the meta data, possible values: SqlServer -->
    <add key="AdminDatabaseType" value="SqlServer"/>
    <!--	Frequency (millisecs) for checking inactive connections 60000ms = 1min -->
    <add key="ConnectionCheckInterval" value="60000"/>
    <!--	Max milliseconds to wait for locking server's resources 1000ms = 1sec -->
    <add key="WaitInterval" value="1000"/>
    <!--	The directory to which the CRM Server writes its log
			files -->
    <add key="traceDirectory" value="c:\Trace\NGCWebService"/>
    <!--	The level of detailed to be logged -->
    <add key="traceLevel" value="ERROR"/>
    <!-- How many seconds to wait for a report query to finish -->
    <add key="reportTimeout" value="30"/>
    <!--	The Default Culture used when generating messages -->
    <add key="CultureDefault" value="pl-PL"/>
    <!--	 -->
    <add key="LoyaltyEntityServiceLayerPath" value="M:\kd72dev_NGC_03_03\NGC_COMP\NGC\Business Layer\LoyaltyEntityServiceLayer\bin\Debug\LoyaltyEntityServiceLayer.dll"/>
    <add key="CampaignEntityServiceLayerPath" value="M:\kd72dev_CampTool_01_00\NGC_COMP\CampaignTool\CampaignEntityServiceLayer\bin\Debug\CampaignEntityServiceLayer.dll"/>
    <!--	LDAP Server name -->
    <add key="LDAPPath" value="LDAP://HSCDC/DC=in,DC=tesco,DC=org"/>
    <!--	LDAP domain name -->
    <!--	<add key="LDAPBaseDN" value="DC=in,DC=tesco,DC=org"/> -->
    <!--	Domain name -->
    <add key="Domain" value="in"/>
    <!--	LDAP group   name -->
    <add key="LDAPGroupName" value="CN=NGC"/>
    <add key="ApplicationName" value="CampaignTool"/>
  </appSettings>
  <system.codedom>
  </system.codedom>
  <system.webServer>
  </system.webServer>
</configuration>
