<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NGCReportOutputDirectory" value="D:\" />
    <add key="NGCReportSMTPServer" value="INBLRCLUMS0201.in.tesco.org" />
    <add key="NGCReportsMailFrom" value="syed.amjadulla@in.tesco.com" />
    <add key="NGCReportMailControlAccount" value="santosh.raghavendra@in.tesco.com" />
    <add key="NGCReportEmailBody" value="Please find attached the following scheduled NGC report. If you have received this report in error or you no longer wish to receive the report, please contact your local Clubcard Manager. Please do not respond to this message." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />  
	<add key="Timeout" value="180"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>