<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="APIUrl" value="http://172.28.152.10:80/automation/add" />
		<add key="DefaultBranch" value="Dev" />
		<add key="DevJenkinUrl" value="http://pvcdljenma001uk.global.tesco.org/jenkins/job/MCA/job/36_Core_Deploy%20to%20ST/lastBuild/api/json" />
		<add key="MasterJenkinUrl" value="http://pvcdljenma001uk.global.tesco.org/jenkins/job/MCA/view/Master-Pipeline-ALL/job/Master-Build-Core/lastBuild/api/json" />
		<add key="JenkinUrl" value="http://pvcdljenma001uk.global.tesco.org/jenkins/job/MCA/job/36_Core_Deploy%20to%20ST/lastBuild/api/json" />
	</appSettings>
</configuration>
