<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
			<service name="AutomationTrigger.Trigger" behaviorConfiguration="TriggerServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TriggerAutomation/service"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="triggerEndPointBehavior" contract="AutomationTrigger.ITrigger"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TriggerServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="triggerEndPointBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="GD_UK_SA" value="D:\Automation-MCA-MVC\Executables\UK_GD\Sanity\Sanity.GC.GD.bat" />
		<add key="GD_UK_BA" value="D:\Automation-MCA-MVC\Executables\UK_GD\BasicFunctionality\BasicFunctionality.GC.GD.bat" />
		<add key="GD_UK_P0" value="D:\Automation-MCA-MVC\Executables\UK_GD\P0\P0.GC.GD.bat" />
		<add key="GD_UK_P1" value="D:\Automation-MCA-MVC\Executables\UK_GD\P1\P1.GC.GD.bat" />
		<add key="GD_UK_P2" value="D:\Automation-MCA-MVC\Executables\UK_GD\P2\P2.GC.GD.bat" />

		<add key="STG_UK_SA" value="D:\Automation-MCA-MVC\Executables\UK_STG\Sanity\Sanity.GC.STG.bat" />
		<add key="STG_UK_BA" value="D:\Automation-MCA-MVC\Executables\UK_STG\BasicFunctionality\BasicFunctionality.GC.STG.bat" />
		<add key="STG_UK_P0" value="D:\Automation-MCA-MVC\Executables\UK_STG\P0\P0.GC.STG.bat" />
		<add key="STG_UK_P1" value="D:\Automation-MCA-MVC\Executables\UK_STG\P1\P1.GC.STG.bat" />
		<add key="STG_UK_P2" value="D:\Automation-MCA-MVC\Executables\UK_STG\P2\P2.GC.STG.bat" />
		
		<add key="GD_CZ_SA" value="D:\Automation-MCA-MVC\Executables\CZ_GD\Sanity\Sanity.GC.GD.bat" />
		<add key="GD_CZ_BA" value="D:\Automation-MCA-MVC\Executables\CZ_GD\BasicFunctionality\BasicFunctionality.GC.GD.bat" />
		<add key="GD_CZ_P0" value="D:\Automation-MCA-MVC\Executables\CZ_GD\P0\P0.GC.GD.bat" />
		<add key="GD_CZ_P1" value="D:\Automation-MCA-MVC\Executables\CZ_GD\P1\P1.GC.GD.bat" />
		<add key="GD_CZ_P2" value="D:\Automation-MCA-MVC\Executables\CZ_GD\P2\P2.GC.GD.bat" />

		<add key="STG_CZ_SA" value="D:\Automation-MCA-MVC\Executables\CZ_STG\Sanity\Sanity.GC.STG.bat" />
		<add key="STG_CZ_BA" value="D:\Automation-MCA-MVC\Executables\CZ_STG\BasicFunctionality\BasicFunctionality.GC.STG.bat" />
		<add key="STG_CZ_P0" value="D:\Automation-MCA-MVC\Executables\CZ_STG\P0\P0.GC.STG.bat" />
		<add key="STG_CZ_P1" value="D:\Automation-MCA-MVC\Executables\CZ_STG\P1\P1.GC.STG.bat" />
		<add key="STG_CZ_P2" value="D:\Automation-MCA-MVC\Executables\CZ_STG\P2\P2.GC.STG.bat" />

		<add key="GD_HU_SA" value="D:\Automation-MCA-MVC\Executables\HU_GD\Sanity\Sanity.GC.GD.bat" />
		<add key="GD_HU_BA" value="D:\Automation-MCA-MVC\Executables\HU_GD\BasicFunctionality\BasicFunctionality.GC.GD.bat" />
		<add key="GD_HU_P0" value="D:\Automation-MCA-MVC\Executables\HU_GD\P0\P0.GC.GD.bat" />
		<add key="GD_HU_P1" value="D:\Automation-MCA-MVC\Executables\HU_GD\P1\P1.GC.GD.bat" />
		<add key="GD_HU_P2" value="D:\Automation-MCA-MVC\Executables\HU_GD\P2\P2.GC.GD.bat" />

		<add key="STG_HU_SA" value="D:\Automation-MCA-MVC\Executables\HU_STG\Sanity\Sanity.GC.STG.bat" />
		<add key="STG_HU_BA" value="D:\Automation-MCA-MVC\Executables\HU_STG\BasicFunctionality\BasicFunctionality.GC.STG.bat" />
		<add key="STG_HU_P0" value="D:\Automation-MCA-MVC\Executables\HU_STG\P0\P0.GC.STG.bat" />
		<add key="STG_HU_P1" value="D:\Automation-MCA-MVC\Executables\HU_STG\P1\P1.GC.STG.bat" />
		<add key="STG_HU_P2" value="D:\Automation-MCA-MVC\Executables\HU_STG\P2\P2.GC.STG.bat" />
		
		<add key="GD_MY_SA" value="D:\Automation-MCA-MVC\Executables\MY_GD\Sanity\Sanity.GC.GD.bat" />
		<add key="GD_MY_BA" value="D:\Automation-MCA-MVC\Executables\MY_GD\BasicFunctionality\BasicFunctionality.GC.GD.bat" />
		<add key="GD_MY_P0" value="D:\Automation-MCA-MVC\Executables\MY_GD\P0\P0.GC.GD.bat" />
		<add key="GD_MY_P1" value="D:\Automation-MCA-MVC\Executables\MY_GD\P1\P1.GC.GD.bat" />
		<add key="GD_MY_P2" value="D:\Automation-MCA-MVC\Executables\MY_GD\P2\P2.GC.GD.bat" />

		<add key="STG_MY_SA" value="D:\Automation-MCA-MVC\Executables\MY_STG\Sanity\Sanity.GC.STG.bat" />
		<add key="STG_MY_BA" value="D:\Automation-MCA-MVC\Executables\MY_STG\BasicFunctionality\BasicFunctionality.GC.STG.bat" />
		<add key="STG_MY_P0" value="D:\Automation-MCA-MVC\Executables\MY_STG\P0\P0.GC.STG.bat" />
		<add key="STG_MY_P1" value="D:\Automation-MCA-MVC\Executables\MY_STG\P1\P1.GC.STG.bat" />
		<add key="STG_MY_P2" value="D:\Automation-MCA-MVC\Executables\MY_STG\P2\P2.GC.STG.bat" />

		<add key="GD_PL_SA" value="D:\Automation-MCA-MVC\Executables\PL_GD\Sanity\Sanity.GC.GD.bat" />
		<add key="GD_PL_BA" value="D:\Automation-MCA-MVC\Executables\PL_GD\BasicFunctionality\BasicFunctionality.GC.GD.bat" />
		<add key="GD_PL_P0" value="D:\Automation-MCA-MVC\Executables\PL_GD\P0\P0.GC.GD.bat" />
		<add key="GD_PL_P1" value="D:\Automation-MCA-MVC\Executables\PL_GD\P1\P1.GC.GD.bat" />
		<add key="GD_PL_P2" value="D:\Automation-MCA-MVC\Executables\PL_GD\P2\P2.GC.GD.bat" />

		<add key="STG_PL_SA" value="D:\Automation-MCA-MVC\Executables\PL_STG\Sanity\Sanity.GC.STG.bat" />
		<add key="STG_PL_BA" value="D:\Automation-MCA-MVC\Executables\PL_STG\BasicFunctionality\BasicFunctionality.GC.STG.bat" />
		<add key="STG_PL_P0" value="D:\Automation-MCA-MVC\Executables\PL_STG\P0\P0.GC.STG.bat" />
		<add key="STG_PL_P1" value="D:\Automation-MCA-MVC\Executables\PL_STG\P1\P1.GC.STG.bat" />
		<add key="STG_PL_P2" value="D:\Automation-MCA-MVC\Executables\PL_STG\P2\P2.GC.STG.bat" />

		<add key="GD_SK_SA" value="D:\Automation-MCA-MVC\Executables\SK_GD\Sanity\Sanity.GC.GD.bat" />
		<add key="GD_SK_BA" value="D:\Automation-MCA-MVC\Executables\SK_GD\BasicFunctionality\BasicFunctionality.GC.GD.bat" />
		<add key="GD_SK_P0" value="D:\Automation-MCA-MVC\Executables\SK_GD\P0\P0.GC.GD.bat" />
		<add key="GD_SK_P1" value="D:\Automation-MCA-MVC\Executables\SK_GD\P1\P1.GC.GD.bat" />
		<add key="GD_SK_P2" value="D:\Automation-MCA-MVC\Executables\SK_GD\P2\P2.GC.GD.bat" />

		<add key="STG_SK_SA" value="D:\Automation-MCA-MVC\Executables\SK_STG\Sanity\Sanity.GC.STG.bat" />
		<add key="STG_SK_BA" value="D:\Automation-MCA-MVC\Executables\SK_STG\BasicFunctionality\BasicFunctionality.GC.STG.bat" />
		<add key="STG_SK_P0" value="D:\Automation-MCA-MVC\Executables\SK_STG\P0\P0.GC.STG.bat" />
		<add key="STG_SK_P1" value="D:\Automation-MCA-MVC\Executables\SK_STG\P1\P1.GC.STG.bat" />
		<add key="STG_SK_P2" value="D:\Automation-MCA-MVC\Executables\SK_STG\P2\P2.GC.STG.bat" />

		<add key="GD_TH_SA" value="D:\Automation-MCA-MVC\Executables\TH_GD\Sanity\Sanity.GC.GD.bat" />
		<add key="GD_TH_BA" value="D:\Automation-MCA-MVC\Executables\TH_GD\BasicFunctionality\BasicFunctionality.GC.GD.bat" />
		<add key="GD_TH_P0" value="D:\Automation-MCA-MVC\Executables\TH_GD\P0\P0.GC.GD.bat" />
		<add key="GD_TH_P1" value="D:\Automation-MCA-MVC\Executables\TH_GD\P1\P1.GC.GD.bat" />
		<add key="GD_TH_P2" value="D:\Automation-MCA-MVC\Executables\TH_GD\P2\P2.GC.GD.bat" />

		<add key="STG_TH_SA" value="D:\Automation-MCA-MVC\Executables\TH_STG\Sanity\Sanity.GC.STG.bat" />
		<add key="STG_TH_BA" value="D:\Automation-MCA-MVC\Executables\TH_STG\BasicFunctionality\BasicFunctionality.GC.STG.bat" />
		<add key="STG_TH_P0" value="D:\Automation-MCA-MVC\Executables\TH_STG\P0\P0.GC.STG.bat" />
		<add key="STG_TH_P1" value="D:\Automation-MCA-MVC\Executables\TH_STG\P1\P1.GC.STG.bat" />
		<add key="STG_TH_P2" value="D:\Automation-MCA-MVC\Executables\TH_STG\P2\P2.GC.STG.bat" />
	</appSettings>
</configuration>
