select::-ms-expand {
    display: none;
}


.ddl-checkbox{
    position: relative;
    margin-bottom: 24px !important;

    label {
        color: $ddl-grey2;
        font-weight: normal;
        line-height: 2rem;
        padding-top: 6px;
        font-family: 'tescoregular';
    }

    em {
    	position: relative;
        z-index: 2;
        font-style: normal;
        &:after {
            background: $ddl-input-background;
            border: 1px solid $ddl-input-border-colour;
            content: ' ';
            display: block;
            height: 25px;
            width: 25px;
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            font-family: 'icons';
            box-shadow: 0 0 0 0 $button-outline-color;
            transition: box-shadow .3s ease-in-out;
            }
        }
    input{
        height: 25px;
        position: absolute;
        width: 25px;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
        border-radius: 0;

            em:after {
                box-shadow: 0 0 0 0 $button-outline-color;
                transition: box-shadow .3s ease-in-out;
            }

            &:hover + em:after, &:hover + input[type="hidden"] + em:after  {
                outline: none;
                box-shadow: 0 0 0 4px $ddl-blue6;
            }

            &:hover + input[type="hidden"]+ em:after {
                outline: none;
                box-shadow: 0 0 0 4px $ddl-blue6;
            }

            /*&:focus + em:after {
                outline: none;
                box-shadow: 0 0 0 4px $ddl-blue6;
            }*/

            &:checked + em:after, &:checked + input[type='hidden'] + em:after {
                content: '\e004';
                color: $ddl-white1;
                border: 1px solid $ddl-link-colour-hover;
                outline: none;
                background: $ddl-link-colour-hover;
            }

            &:disabled + em:after {
                background: $ddl-input-background-disabled;
            }

            &:disabled:hover + em:after {
                outline: none;
                box-shadow: 0 0 0 0;

        }
    }
  }
