<configuration>

	<configSections>
		<!-- see http://msdn.microsoft.com/library -->
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement" />
	</configSections>
	
	<exceptionManagement mode="on">
		<!-- publisher mode="on/off" assembly="AssemblyName" type="TypeName" exclude="(+)Type,(+)Type" include="(+)Type,(+)Type" exceptionFormat="xml" customattr="value" / -->
		<publisher 
			mode="on" 
			assembly="SharedUtils" 
			type="Fujitsu.eCrm.Generic.SharedUtils.PublishFilter"
			excludeWhere="User,*,*" />
	</exceptionManagement>
	
	<appSettings>
		<!-- IF A NEW KEY'S VALUE IS GENERAL TO ALL SERVERS THEN IT SHOULD BE PLACED IN ADMIN DB'S admin_configuration TABLE -->
		<!-- ONLY KEY'S (1) WHOSE VALUE CAN BE DIFFERENT ON DIFFERENT SERVERS, OR (2) DETAILING CONNECTION TO ADMIN DB SHOULD BE PLACED HERE  -->
		
		<!--	Specifying the type of database containing the meta data, possible values: SqlServer -->
		<add key="AdminDatabaseType" value="SqlServer" />

		<!--	Frequency (millisecs) for checking inactive connections 60000ms = 1min -->
		<add key="ConnectionCheckInterval" value="60000" />

		<!--	Max milliseconds to wait for locking server's resources 1000ms = 1sec -->
		<add key="WaitInterval" value="1000" />

		<!--	The directory to which the CRM Server writes its log
			files -->
		<add key="traceDirectory" value="c:\Trace\PosSocketsService" />

		<!--	Location of messages -->
		<add key="LocalizationDirectory" value="C:\Inetpub\wwwroot\Localization" />
		<!--	The Default Culture used when generating messages, identifies sub-directory to search -->
		<add key="CultureDefault" value="" />

		<!--	The level of detailed to be logged -->
		<add key="traceLevel" value="ERROR" />

		<!--    Retry time if SQL Server is not available at service start :
  				If the SQL Server database is not started when the POS Service 
				first requires access to it then it will wait and try again after 
				a specified time determined by the RetryConnectionTime. It will 
				then repeat this process for ever until a connection is eventually 
				made or the service is stopped by a specific request.
				Value is in seconds and default is 60 if value not set.
		-->
		<add key="RetryConnectionTime" value="300" />

		<!--	The user account used for auditing creation of customers.
				If the user name is not valid then the auditting will be
				switched off -->
		<add key="PosAuditUser" value="ngcAdmin" />
		
		<!--	The DLL used to process POS requests, select on the
				basis of the interface between the NGC POS Server and
				the Store POS Server -->
		<add key="PosHandlerDll" value="BangkokPosHandler" />

		<!--	The maximum number of pending connection waiting for
				acceptance on any port -->
		<add key="PosListenerBacklogSize" value="10" />

	</appSettings>
</configuration>