<!-- This is the master list of client endpoints for Clubcard WCF services. -->

<client>
  <endpoint address="http://172.25.60.196:81/LOCATORSVC/Locator.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
    contract="ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/SmartVocuherService/SmartVoucherServices.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_ISmartVoucherServices" contract="SmartVoucherServices.ISmartVoucherServices"
    name="WSHttpBinding_ISmartVoucherServices">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/JoinServiceR2A/JoinLoyaltyService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IJoinLoyaltyService" contract="JoinLoyaltyService.IJoinLoyaltyService"
    name="WSHttpBinding_IJoinLoyaltyService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/ClubcardCouponServices/ClubcardCouponService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IClubcardCouponService"
    contract="ClubcardCouponServices.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/PreferenceServiceR2A/PreferenceService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IPreferenceService" contract="PreferenceServices.IPreferenceService"
    name="WSHttpBinding_IPreferenceService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/ClubcardServiceR2A/AdminService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IAdminService" contract="AdminService.IAdminService"
    name="WSHttpBinding_IAdminService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/ClubcardServiceR2A/ClubcardService.svc"
     binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IClubcardService" contract="ClubcardService.IClubcardService"
    name="WSHttpBinding_IClubcardService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/ClubcardServiceR2A/CustomerService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_ICustomerService" contract="CustomerService.ICustomerService"
    name="WSHttpBinding_ICustomerService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/ReportingService/NGCReportingService.svc"
    binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_INGCReportingService" contract="NGCReportingService.INGCReportingService"
    name="WSHttpBinding_INGCReportingService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/ClubcardServiceR2A/MarketingService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMarketingService"
    contract="MarketingService.IMarketingService" name="WSHttpBinding_IMarketingService">
	<identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/Reward_ReissueDetailsService/RewardReIssueService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardReIssueService"
    contract="Reward_ReissueService.IRewardReIssueService" name="BasicHttpBinding_IRewardReIssueService" />

  <endpoint address="https://tvthgdcwncap01.dev.global.tesco.org/UtilityService/UtilityService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilityService1"
    contract="NGCUtilityService.IUtilityService" name="WSHttpBinding_IUtilityService1">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

</client>