<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransactionFileFolderPath" value="\\172.21.149.228\Tesco\NGC\olt\Input"/>
    <add key="TempTransactionFileFolderPath" value="\\172.21.149.228\Tesco\NGC\olt\Working"/>
    <add key="TransactionFileArchivePath" value="\\172.21.149.228\Tesco\NGC\olt\Archive"/>
    <add key="ResponseFileFolderPath" value="\\172.21.149.228\Tesco\NGC\olt\Response"/>
    <add key="SummaryFileFolderPath" value="\\172.21.149.228\Tesco\NGC\olt\Summary"/>
    <add key="LogFileFolderPath" value="\\172.21.149.228\Tesco\NGC\olt\Log"/>
    <add key="FormatFilePath" value="\\172.21.149.228\Tesco\NGC\OfflineBatch\OfflineDatan.fmt"/>
    <add key="MoveCustomerXmlTo" value="\\172.21.149.228\Tesco\NGC\olt\In"/>
    <add key="OltBatchPath" value="\\172.21.149.228\Tesco\NGC\OfflineBatch\OLT.bat"/>
    <add key="AdminConnectionString" value="data source=172.21.149.228; initial catalog=NGCR15; user id=sa; password=Tesco123;"/>
    <add key="ApplicationTimeOut" value="65534"/>
    <add key="SSISFolderPath" value="\\172.21.149.228\Tesco\NGC\OfflineBatch\CashierIDUpdate.dtsx"/>
    <add key="SSISConfigFilePath" value ="\\172.21.149.228\Tesco\NGC\OfflineBatch\NGCSSISPackageConfig.dtsConfig"/>
    <!-- Set the default Data Protection Preference-->
    <add key="DataProtectionDefault" value="0"/>
  </appSettings>
</configuration>
