<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InstoreRewardBooking" connectionString="Data Source=172.21.214.38;Initial Catalog=InstoreClubcardReward;User id=ICCRSQLUSER;Password=Tesco123" providerName="SQL"/>
    <add name="PrintVouchers_KioskDB" connectionString="Data Source=172.21.214.38;Initial Catalog=IPrintVouchers_KioskDB;User id=ICCRSQLUSER;Password=Tesco123" providerName="SQL"/>
  </connectionStrings>

    <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IClubcardReward" closeTimeout="00:20:00"
                openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
            </binding>
            <binding name="BasicHttp" closeTimeout="00:20:00" openTimeout="00:20:00"
                receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false"
                bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
            </binding>
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:56565/ClubcardReward.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClubcardReward"
            contract="serviceClubcardReward.IClubcardReward" name="BasicHttpBinding_IClubcardReward" />
    </client>
  </system.serviceModel>
</configuration>