<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>

  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="JoinKiosk" formatter="Text Formatter" log="Application"
        machineName="." traceOutputOptions="None" />
      <add name="JoinAppLog" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="D:\Temp\Logs\JoinKiosk.log" formatter="Text Formatter"
        rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="6000" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp(local)}{newline}Message: {message}{newline}Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity}{newline}ProcessId: {localProcessId} Process Name: {localProcessName}{newline}Thread Name: {threadName} Win32 ThreadId:{win32ThreadId}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="JoinAppLog" />
        </listeners>
      </add>
      <add switchValue="All" autoFlush="true" name="Critical">
        <listeners>
          <add name="JoinAppLog" />
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  
  <system.web>

    <machineKey validationKey="5AA3AE2BD4F0DD6FA88771141CDA83B41A20A29D8A73A3469786BC2B232B1037A7AACB07CCDBBBA5B81AEA701A3EC0048E08E9149BA3DE11B72CB3135F0DFB13" decryptionKey="7FDD6ECA01D8FDB3300914B4545B9EE42AAF03C74B12B1A5BFAF77835D3AB039" validation="SHA1" decryption="AES"/>
    <httpRuntime requestValidationMode="2.0" />
    <!-- Culture defaulted to zh-CN -->
    <globalization uiCulture="auto" culture="zh-CN" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"/>
    <sessionState mode="InProc" timeout="20"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"> </customErrors>
    <pages enableSessionState="true" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>

      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <caching enabled="false" enableKernelCache="false" />
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings configSource="wcfstandardbinding.config"/>
    <client configSource="wcfclientendpoints.config"/>
    <behaviors configSource="wcfbehaviors.config"/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="PAFService" value="http://172.25.60.196:81/changeprogram/locationservice.asmx"/>
    <add key="ServiceConsumer" value="Dotcom Customer"/>
    <add key="MainPage" value="http://172.21.110.27/KioskMenuNew/default.html"/>
    <add key="CountryCode" value="zh-CN"/>
    <add key="TimerCCOCookieExpiration" value="30"/>
    <add key="Environment" value="INT"/>
    <add key="ShowAddressControls" value="AddressLine1"/>
    <add key="ShowNameControls" value="FirstName,Surname"/>
    <add key="ShowContactDetailsControls" value="Email,MobileNo"/>
    <add key="ShowConfirmationSections" value="NameSection,AddressSection,EmailSection,PreferredLanguageSection,DateofBirthSection"/>
    <add key="ShowPassportSSNControls" value="Language,SSN"/>
    <add key ="ShowPassportSSNLanguage" value="1,2,3,4"/>
    <add key="GetNCGConfigDetails" value="2,5,8,9,10,12,11" />
    <add key="ShowDOBandHHAgesControls" value=""/>
    <add key="DateFormat" value="YMD"/>
    <add key="DateSeparator" value="/"/>
    <add key="DOBLimitInDays" value="6574"/>
    <add key="ShowDietryPrefControls" value=""/>
    <add key="NoOfDietryPreferences" value=""/>
    <add key="NoOfDietCheckBox" value=""/>
    <add key ="ID_DietryPrefOption1" value="4|IsVegeterian"/>
    <add key ="ID_DietryPrefOption2" value="3|IsHalal"/>
    <add key ="ID_DietryPrefOption3" value="2|IsKosher"/>
    <add key ="ID_DietryPrefOption4" value="0"/>
    <add key ="ID_DietryPrefOption5" value="24|IsCoeliac"/>
    <add key ="ID_DietCheckBox1" value="1|IsDiabetic"/>
    <add key ="ID_DietCheckBox2" value="5|IsTeeTotal"/>
    <add key="CacheTime" value="30"/>
    <add key="ShowContactPrefControls" value="ClubcardCharterBtn,PromotionalCode" />
    <add key="ShowPromotionalCodediv" value="True"/>
    <add key="ShowRaces" value=""/>

    <!--Page Sequence
    Key name is a current page name
    BeforeSeperator text is the previous Page
    AfterSeperator text is the Next Page-->
    <add key ="WhatIsYourTitleandName" value="NA|WhatIsYourAdress"/>
    <add key ="WhatIsYourAdress" value="WhatIsYourTitleandName|WhatIsYourContactDetails"/>
    <add key ="WhatIsYourContactDetails" value="WhatIsYourAdress|FurtherPersonalDetail1"/>
    <add key ="FurtherPersonalDetail1" value="WhatIsYourContactDetails|ContactPreferences"/>
    <add key ="FurtherPersonalDetails2" value="FurtherPersonalDetail1|WhatIsYourDOBAndHHAges"/>
    <add key ="WhatIsYourDOBAndHHAges" value="WhatIsYourAdress|WhatIsYourDietryPreferences"/>
    <add key ="WhatIsYourDietryPreferences" value="WhatIsYourDOBAndHHAges|ContactPreferences"/>
    <add key ="ContactPreferences" value="FurtherPersonalDetail1|FinalSubmitionScreen"/>
    <add key ="FinalSubmitionScreen" value="ContactPreferences|PrintClubcard"/>

    <!--Screen: Further Personal Details 2-->
    <add key ="DisplayFPD2Screen" value="1"/>
    <!--1 -> Display, 0 -> Dont Display-->
    <add key ="NoOfRaces" value=""/>
    <!--Maximum 4 races, values can be 1, 2, 3,4-->
    <add key ="Race1" value="1|Race1"/>
    <!--Value is the raceid for the race from NGC Race Table-->
    <add key ="Race2" value="2|Race2"/>
    <add key ="Race3" value="3|Race3"/>
    <add key ="Race4" value="4|Race4"/>
    <add key ="Country" value="Group"/>

    <!--Value is the Languageid -->
    <add key ="Language1" value="1|Language1"/>
    <add key ="Language2" value="2|Language2"/>
    <add key ="Language3" value="3|Language3"/>
    <add key ="Language4" value="4|Language4"/>


    <!--T&C pages can be switched on/off, value="on" will display the corresponding page.-->
    <add key="ShowTermsAndConditons1" value="true"/>
    <add key="ShowTermsAndConditons2" value="true"/>
    <add key="ShowTermsAndConditons3" value="false"/>
    <add key="ShowTermsAndConditons4" value="false"/>
    <add key="ShowTermsAndConditons5" value="false"/>

    <!--Print clubcard page Barcode printing-->
    <add key="BarcodeLastNos" value="5"/>
    <add key="BarcodeForCountry" value="979"/>

    <add key="PhoneNumberValidation" value="false"/>
    <add key="JoinRouteCode" value="3"/>
    
    <add key="ShowClubcardCharter1" value="true"/>
    <add key="ShowClubcardCharter2" value="true"/>
    <add key="ShowClubcardCharter3" value="false"/>
    <add key="ShowClubcardCharter4" value="false"/>
    <add key="ShowClubcardCharter5" value="false"/>

    <!-- maxlength for controls-->
    <add key="PromotionalCodeMaxLength" value="10"/>
    <add key="PassportMaxLength" value="30"/>
    <add key="SSNMaxLength" value="30"/>
    <add key="PostCodeMaxLength" value="30"/>
    <add key="AddressLine1MaxLength" value="30"/>
    <add key="AddressLine2MaxLength" value="30"/>
    <add key="AddressLine3MaxLength" value="30"/>
    <add key="AddressLine4MaxLength" value="30"/>
    <add key="AddressLine5MaxLength" value="30"/>
    <add key="EmailIdMaxLength" value="60"/>
    <add key="MobileNoMaxLength" value="30"/>
    <add key="EveningNoMaxLength" value="30"/>
    <add key="DayTimeNoMaxLength" value="30"/>
    <add key="FirstNameMaxLength" value="30"/>
    <add key="MiddleNameMaxLength" value="2"/>
    <add key="SurnameMaxLength" value="30"/>

    <!-- Regular expressions for controls-->
    <add key="PassportRegExp" value="^[0-9a-zA-Z]+$"/>
    <add key="SSNRegExp" value="^[0-9a-zA-Z]+$"/>
    <add key="MailingAddressLine" value="^[sSiIçÇöÖüÜGg A-Za-z0-9]+$"/>
    <add key="AgeRegExp" value="^[0-9 ]*$"/>
    <add key="DOBRegExp" value="^(((0[1-9]|[12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$"/>
    <add key="EmailIdRegExp" value="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"/>
    <add key="PhoneNoRegExp" value="^[0-9]*$"/>
    <add key="FirstNameRegExp" value="^\p{L}[\p{L}\p{Pd}\x27]*\p{L}$"/>
    <add key="MiddleNameRegExp" value=""/>
    <add key="SurnameRegExp" value="^\p{L}[\p{L}\p{Pd}\x27]*\p{L}$"/>

    <!-- Mandatory fields-->
    <add key="PromotionalCodeReq" value="false"/>
    <add key="PassportReq" value="false"/>
    <add key="SSNReq" value="false"/>
    <add key="PostCodeReq" value="true"/>
    <add key="AddressLine1Req" value="true"/>
    <add key="AddressLine2Req" value="true"/>
    <add key="AddressLine3Req" value="true"/>
    <add key="AddressLine4Req" value="false"/>
    <add key="AddressLine5Req" value="false"/>
    <add key="EmailIdReq" value="false"/>
    <add key="MobileNoReq" value="false"/>
    <add key="EveningNoReq" value="false"/>
    <add key="DayTimeNoReq" value="false"/>
    <add key="FirstNameReq" value="true"/>
    <add key="MiddleNameReq" value="false"/>
    <add key="SurnameReq" value="true"/>
    <add key="DietryPrefReq" value="false"/>
    <add key="DOBReq" value="false"/>
    <add key="HHAge1Req" value="false"/>
    <add key="HHAge2Req" value="false"/>
    <add key="HHAge3Req" value="false"/>
    <add key="HHAge4Req" value="false"/>
    <add key="HHAge5Req" value="false"/>

    <!-- Overwrite NGC configuration details. provide field names which has to be overwritten from NGC. -->
    <add key="OverWriteNGCConfig" value="EmailIdReq,AddressLine1Req,AddressLine2Req,AddressLine3Req"/>
  </appSettings>
</configuration>
