<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFilePath" value="C:\CSVToExcel\In"/>
    <add key="OutputFilePath" value="C:\CSVToExcel\Out\"/>
    <add key="ProcessedFilePath" value="C:\CSVToExcel\Processed\"/>
    <add key="InputFilePathLength" value="17"/>
    <add key="OutputFileName" value="CustomerStatus_MailStatus.xls"/>
  </appSettings>
</configuration>