<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- IF A NEW KEY'S VALUE IS GENERAL TO ALL SERVERS THEN IT SHOULD BE PLACED IN ADMIN DB'S admin_configuration TABLE -->
    <!-- ONLY KEY'S (1) WHOSE VALUE CAN BE DIFFERENT ON DIFFERENT SERVERS, OR (2) DETAILING CONNECTION TO ADMIN DB SHOULD BE PLACED HERE  -->
    <!--	Frequency (millisecs) for checking inactive connections 60000ms = 1min -->
    <add key="ConnectionCheckInterval" value="60000" />
    <!--	Max milliseconds to wait for locking server's resources 1000ms = 1sec -->
    <add key="WaitInterval" value="1000" />
    <!--	The directory to which the CRM Server writes its log
			files -->
    <add key="traceDirectory" value="c:\Trace\BatchWindowsService" />
    <!--	The level of detailed to be logged...
			1.	ALL or EVERYTHING - Sets all trace flags so that all information is logged
			2.	NONE or NOTHING - Clears all flags to disable tracing.
			3.	{flagname} - Sets the specified flag. Recognized values are SQL, XML, Error, 
				Warning, Info, Debug, Procedure and Request.
			4.	NO{flagname} - Clears the specified flag. Recognized values are NOSQL, NOXML, 
				NOError, NOWarning, NOInfo, NODebug, NOProcedure and NORequest.
			For Example:
			-	"Error&NoWarning" sets the Error and clears the Warning flags
			-	"ALL&NoDebug" sets all flags except debug.
		-->
    <add key="traceLevel" value="ERROR" />
    <!-- The Default Culture used when generating messages -->
    <add key="CultureDefault" value="" />
    <!-- The location of the files to use with the LocalizationLibrary -->
    <add key="LocalizationDirectory" value="C:\Inetpub\wwwroot\Localization" />
    <!-- Location of files -->
    <!-- Incoming data -->
    <add key="InputRootDirectory" value="C:\Inetpub\wwwroot\NGC\Batch\Data\In\" />
    <!-- Incoming data -->
    <add key="ArchiveRootDirectory" value="C:\Inetpub\wwwroot\NGC\Batch\Data\Archive\" />
    <!-- Extract data -->
    <add key="OutputRootDirectory" value="C:\Inetpub\wwwroot\NGC\Batch\Data\Out\" />
    <!-- Batch Scripts -->
    <add key="ScriptRootDirectory" value="C:\Inetpub\wwwroot\NGC\Batch\Scripts\" />
    <!-- Log files -->
    <add key="LogRootDirectory" value="C:\Inetpub\wwwroot\NGC\Batch\Log\" />
    <!-- Format File Location-->
    <add key="AddressInErrorFileFormat" value="C:\Inetpub\wwwroot\NGC\Batch\Data\In\"  />
    <!-- Location of BCP application on the Database Server -->
    <add key="BcpDirectory" value="C:\Program Files\Microsoft SQL Server\90\Tools\Binn\" />
    <!-- Extract data on the Database Server -->
    <!--<add key="OutputBcpDirectory" value="\\172.29.3.17\Data\Out\Data\Out\" />-->
    <add key="OutputBcpDirectory" value="C:\Inetpub\wwwroot\NGC\Batch\Data\Out\" />
    <add key="RejecetdDirectory" value="C:\Inetpub\wwwroot\NGC\Batch\Data\Rejected\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DefaultDataProtectionPreference"  value="0" />
    <add key="underage_limit" value="18"/>
    <add key="OptinalDietaryPref1" value="Foreign_flag"/>
    <add key="OptinalDietaryPref2" value="Test_flag"/>
    <add key="OptinalDietaryPref3" value="Testing_flag"/>
    <!-- Added by Syed Amjadulla on 21st July 2009 for passing the parameter to Rewrad Mailing SP for Showing/Hiding Partner Details-->
    <add key="ShowPartnerDetailsInMail" value="1" />
    <!--Added by girish benahal on 28th may 2010 for passing file paths of Trace directory for house keeping activities -->
    <add key="NoOfDays" value="30"/>
    <add key="MarketingTraceFilePath" value="C:\Trace\NGCMarketing\"/>
    <add key="NGCWebServiceTraceFilePath" value="C:\Trace\NGCWebService\"/>
    <add key="BatchWindowsServiceTraceFilePath" value="C:\Trace\BatchWindowsService\"/>
    <add key="NGCCSDTraceFilePath" value="C:\Trace\NGCCSD\"/>
    <add key="NGCSSCTraceFilePath" value="C:\Trace\NGCSSC\"/>
    <add key="PosSocketsServiceTraceFilePath" value="C:\Trace\PosSocketsService\"/>
  <!--Added By Sabhareesan For Voucher @ TILL in NGC 3.6-->
    <add key="VATThresholdValue" value="150"/>
    <!--For Voucher @ TILL -->
    <!--Added for NGC 3.6 -For Specify the MAX and MIN LENGTH FOR GROUP COUNTRIES AND ERROR CODE(wrto Customer_DataValidationType Table)-->

    <add key="PhoneNumberMaxValue"  value="40" />
    <add key="PhoneNumberMinValue"  value="9" />

    <add key="EmailIdMaxValue"  value="40" />
    <add key="EmailIdMinValue"  value="9" />

    <add key="DayPhoneNumberMaxValue"  value="40" />
    <add key="DayPhoneNumberMinValue"  value="9" />

    <add key="EvenPhoneNumberMaxValue"  value="40" />
    <add key="EvenPhoneNumberMinValue"  value="9" />

    <add key="PostCodeMaxValue"  value="9" />
    <add key="PostCodeMinValue"  value="6" />

    <add key="SSNMaxValue"  value="10" />
    <add key="SSNMinValue"  value="6" />

    <add key="PassportMaxValue"  value="10" />
    <add key="PassportMinValue"  value="6" />


    <add key="BLNoMaxValue"  value="8" />
    <add key="BLNoMinValue"  value="5" />

    <!-- CR34 Code Change-->
    <add key="AddressLine1MinValue"  value="6"/>
    <add key="AddressLine1MaxValue"  value="9" />

    <add key="AddressLine2MinValue"  value="6"/>
    <add key="AddressLine2MaxValue"  value="9" />

    <add key="AddressLine3MinValue"  value="6"/>
    <add key="AddressLine3MaxValue"  value="9" />

    <add key="AddressLine4MinValue"  value="6"/>
    <add key="AddressLine4MaxValue"  value="9" />

    <add key="AddressLine5MinValue"  value="7"/>
    <add key="AddressLine5MaxValue"  value="8" />

    <add key="Name1MinValue"  value="2"/>
    <add key="Name1MaxValue"  value="20" />

    <add key="Name2MinValue"  value="0"/>
    <add key="Name2MaxValue"  value="2" />

    <add key="Name3MinValue"  value="2"/>
    <add key="Name3MaxValue"  value="30" />
    <!-- CR34 Code Change Ends-->
    <!--To log into Customer Data Validation-->
    <add key="AddressInError"  value="1" />
    <add key="MobileError"  value="2" />
    <add key="DayMobileError"  value="7" />
    <add key="EvenMobileError"  value="8" />
    <add key="PostCodeInError"  value="6" />
    <add key="SSNInError"  value="3" />
    <add key="PassportInError"  value="12"/>
    <add key="BLNoInError"  value="13" />
    <add key="EmailIdInError"  value="17" />
    <add key="TitleEnglishInError"  value="18" />
    <add key="Name1InError"  value="19" />
    <add key="Name2InError"  value="20" />
    <add key="Name3InError"  value="21" />
    <add key="DOBInError"  value="22" />
    <add key="GenderInError"  value="23" />

    <!-- CR34 Code Change-->

    <add key="AddressLine1InError"  value="1" />
    <add key="AddressLine2InError"  value="1" />
    <add key="AddressLine3InError"  value="1" />
    <add key="AddressLine4InError"  value="1" />
    <add key="AddressLine5InError"  value="1" />
    
    <!-- CR34 Code Change Ends-->
    <add key="UnderAgeError"  value="9" />
    <add key="UnSignedError"  value="10" />
    <add key="UnderAgeUnsignedError"  value="11" />

    <!--Super Set Section-->
    <add key="PrimarySecondaryError" value="35" />
    <add key="RaceInError" value="36" />
    <add key="LangInError" value="37" />

    <!--For CustomerEMailStatus and CustomerMobilePhoneStatus Status and also for Mailing Addresses-->
    <add key="Missing"  value="6" />
    <add key="Deliverable"  value="7" />
    <add key="In Error"  value="8" />
	  
<!--Below Customer Mail Status (Already existing) which gets used in CustomerMailStatus column only-->
	<add key="Address In Error"  value="3" />
	<add key="Not Mailable"  value="4" />
	<add key="Mailable"  value="1" />

    <add key="NoAddress"  value="-2" />
    <add key="AddressFound"  value="1" />

    <!-- Validation Fails-->
    <add key="TeleCheck"  value="Telephone Number is in Error" />
    <add key="DayCheck"  value="Daytime Phone Number is in Error" />
    <add key="EvenCheck"  value="Evening Phone Number is in Error" />
    <add key="PostCheck"  value="Post Code is in Error" />
    <add key="SSNCheck"  value="SSN Number is in Error" />
    <add key="PassportCheck"  value="Passport Number is in Error" />
    <add key="BLNoCheck"  value="Buiness License Number is in Error" />
    <add key="EmailCheck"  value="Email Address is in Error" />
    <add key="Name1Check"  value="Name1 is in Error" />
    <add key="Name2Check"  value="Name2 is in Error" />
    <add key="Name3Check"  value="Name3 is in Error" />
    <add key="TitleCheck"  value="Title is in Error" />
    <add key="DOBCheck"  value="DOBCheck is in Error" />
    <add key="GenderCheck"  value="Gender is in Error" />
    <add key="LangCheck"  value="ISO Language is in Error" />
    <add key="RaceCheck"  value="Race is in Error" />
    <add key="PrimarySecondaryCheck"  value="Primary/Secondary Id is in Error" />

    <!-- CR34 Code Change-->
    <add key="AddressLine1Check"  value="AddressLine1 is in Error" />
    <add key="AddressLine2Check"  value="AddressLine2 is in Error" />
    <add key="AddressLine3Check"  value="AddressLine3 is in Error" />
    <add key="AddressLine4Check"  value="City is in Error" />
    <add key="AddressLine5Check"  value="ProvinceCode is in Error" />
    <add key="AddressLine6Check"  value="Country is in Error" />
    <!-- CR34 Code Change Ends-->
	  <!--Validate 13 digit no -->
	  <add key="Validate13digitClubcard" value="1" ></add>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
	<system.serviceModel>
		<bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_ICustomerService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="2000000" maxReceivedMessageSize="2000000"
     messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
     allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="2000000"
      maxArrayLength="2000000" maxBytesPerRead="2000000" maxNameTableCharCount="2000000" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       establishSecurityContext="true" />
     </security>
    </binding>
    <binding name="WSHttpBinding_ICustomerService1" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       establishSecurityContext="true" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://172.21.179.47/CCOServices/CustomerService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
    contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/CCOServices/CustomerService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService1"
    contract="CustomerService.svc.ICustomerService" name="WSHttpBinding_ICustomerService1">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>