<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogLevel="Error" internalLogFile="${basedir}/LogsConfig/${shortdate}.log">
    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <!--<extensions>
      <add assembly="NLog.Extended" />
    </extensions>-->
    <targets async="true">
      <!-- file targets -->
      <target name="asyncFile" xsi:type="AsyncWrapper" overflowAction="Grow">
        <target xsi:type="File" name="logFile" fileName="${basedir}/../../../../../../UnitTest/MCA.${shortdate}.log" layout="${message}${onexception:${exception:format=Message,Data,StackTrace:maxInnerExceptionLevel=5:innerFormat=Message,Data,StackTrace}}" />
      </target>
      <target name="genericLogs" xsi:type="AsyncWrapper" overflowAction="Grow">
        <target xsi:type="File" name="genericLogFile" fileName="${basedir}/../../../../../../UnitTest/MCA.${shortdate}.log" layout="${message}${onexception:${exception:format=Message,Data,StackTrace:maxInnerExceptionLevel=5:innerFormat=Message,Data,StackTrace}}" />
      </target>
      <target name="auditLogs" xsi:type="AsyncWrapper" overflowAction="Grow">
        <target xsi:type="File" name="auditLogFile" fileName="${basedir}/../../../../../../UnitTest/MCA.Audit.${shortdate}.log" layout="${message}${onexception:${exception:format=Message,Data,StackTrace:maxInnerExceptionLevel=5:innerFormat=Message,Data,StackTrace}}" />
      </target>
      <!--<target name="logfile" xsi:type="File"  layout="${longdate} ${message} ${exception:format=tostring}" fileName="D:\MVC\file.txt" />-->
      <!--<target xsi:type="EventLog"
      name="eventlog" layout="${callsite} ${longdate} ${message} ${stacktrace} ${exception:format=ToString}" machineName="." source="NLogLogger" log="Application" />-->
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <!--<logger name="*" writeTo="logFile" minlevel="Trace" />-->
      <logger name="genericLogger" minlevel="Trace" writeTo="genericLogFile" />
      <logger name="auditLogger" minlevel="Trace" writeTo="auditLogFile" />
      <!--<logger name="*" writeTo="eventlog" minlevel="Trace"  />-->
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>