<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Baby & Toddler Club</title>
  <style type="text/css">
	a { text-decoration :none;}
    body {margin:0;padding:0;}
	</style>
   </head>

 <body>
 <table cellspacing=0 cellpadding=0 width=635 align=center border=0>
  <tbody>
  <tr>
    <td width=2 bgcolor=#fefefe></td>
    <td width=2 bgcolor=#fcfcfc></td>
    <td width=2 bgcolor=#f9f9f9></td>
    <td width=2 bgcolor=#f4f4f4></td>
    <td width=2 bgcolor=#efefef></td>
    <td width=2 bgcolor=#e8e8e8></td>
    <td width=2 bgcolor=#e1e1e1></td>
    <td width=2 bgcolor=#d8d8d8></td>
    <td width=2 bgcolor=#cccccc></td>
    <td width=10 bgcolor=#ffffff></td>
    <td valign=top align=left width=610>
  <table cellSpacing="0" cellPadding="0" width="604" align="center" border="0"> 		     
	 <tr>
	   <td align="center"><font face="arial" size="2" color="#666666">If this email is not displayed correctly, please <a href="http://172.21.179.41/MCA/Html/welcome.html" target="_blank" style="text-decoration:none"><font color="#666666"><u>click here</u></font></a>.</font></td>
	</tr>
	<tr>
	   <td height="5"></td>
	</tr>
	<tr> 
	   <td align="center"><a href="http://www.tesco.com/babyclub" target="_blank"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Logo.jpg" width="600" height="72" alt="" style="text-deocartion:none;" border="0" /></a></td>
	</tr>
	<tr>
	   <td height="5"></td>
	</tr>
	<tr>
	  <td>
	  <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
	    <tr>
		  <td width="10" rowspan="15"></td>
		  <td colspan="2" height="10"></td>
		  <td valign="top" rowspan="15"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Image1.jpg" width="226" height="460" alt="" style="display:block;" /></td>
		</tr>
		<tr>
		   <td colspan="2" valign="middle" height="120"><font face="arial" size="2" color="#000000"><font color="#a474b2" size="4"><b>Welcome to the Club!</b></font><br /><br />Thank you for joining Tesco Baby & Toddler Club. Here at the Club, it's our aim to help you prepare for your baby's arrival in the best way we know how - by giving you all those little extras that really help, just when you need them...<br /><br /><b>All Tesco Baby & Toddler Club members receive</b></font></td>		   
		</tr>
		<tr>
		  <td colspan="2" height="15"></td>
		</tr>
		<tr>
		   <td width="10" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Dot.jpg" width="26" height="19" alt="" style="display:block;" /></td>
		   <td valign="top"><font face="arial" size="2" color="#000000">Free magazines from now until your child turns three.</font></td>
		</tr>
		<tr>
		  <td colspan="2" height="10"></td>
		</tr>
		<tr>
		   <td width="10" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Dot.jpg" width="26" height="19" alt="" style="display:block;" /></td>
		   <td valign="top"><font face="arial" size="2" color="#000000">Fantastic money-saving coupons across a selection of baby  items, including toiletries, nappies and baby food.</font></td>
		</tr>
		<tr>
		  <td colspan="2" height="10"></td>
		</tr>
		<tr>
		   <td width="10" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Dot.jpg" width="26" height="19" alt="" style="display:block;" /></td>
		   <td valign="top"><font face="arial" size="2" color="#000000">Automatic entry to our free prize draw to win a year's supply of nappies.</font></td>
		</tr>
		<tr>
		  <td colspan="2" height="10"></td>
		</tr>
		<tr>
		   <td width="10" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Dot.jpg" width="26" height="19" alt="" style="display:block;" /></td>
		   <td valign="top"><font face="arial" size="2" color="#000000">A free parents' parking permit allowing you to park nearer to the store.</font></td>
		</tr>
		<tr>
		  <td colspan="2" height="10"></td>
		</tr>
		<tr>
		   <td width="10" valign="top"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Dot.jpg" width="26" height="19" alt="" style="display:block;" /></td>
		   <td valign="top"><font face="arial" size="2" color="#000000">The latest offers, advice and information on our fabulous website <a href="http://www.tesco.com/babyclub" target="_blank"><font color="#3c99f9"><b><u>www.tesco.com/babyclub</u></b></font></a>
</font></td>
		</tr>
		<tr>
		  <td colspan="2" height="15"></td>
		</tr>
		 <tr>
		   <td colspan="2" valign="top"><font face="arial" size="2" color="#000000"><b>Sign up to our email</b><br /><br />To receive the latest offers and Baby Club news direct to your inbox, sign up for the <a href="http://preferences.tesco.com/tesco_new_preference_centre/tesco_new_preference_centre.aspx" target="_blank"><font color="#3c99f9"><b><u>Baby & Toddler Club email</u></b></font></a>.</font></td>
		 </tr>
		 <tr>
		  <td colspan="2" height="10"></td>
		</tr>
		 <tr>
		   <td colspan="3" valign="top"><font face="arial" size="2" color="#000000"><b>Join Mums' Choice</b><br /><br />All members can also join the exclusive online members only area; Mums' Choice, and after joining, you could be testing, rating and reviewing products, answering surveys and you could even appear in our magazines or on our website. Create your <a href="https://www.tescomumschoice.com/profile.aspx
" target="_blank"><font color="#3c99f9"><b><u>Mums' Choice profile page</u></b></font></a> today!<br /><br /><br />Enjoy!<br />Tesco Baby & Toddler Club<br /><br />Please note: It can take up to six weeks to receive your first pack</font></td>
	</tr>
	  </table>
	  </td>
	</tr>	 
	<tr>
	   <td height="5"></td>
	</tr>
	<tr> 
	   <td align="center"><img src="http://www.tesco.com/emailImages/Baby_wel06-03-12/Bottom.jpg" width="600" height="51" alt="" style="text-deocartion:none;" /></td>
	</tr>
	</table></td>
    <td width=10 bgcolor=#ffffff></td>
    <td width=2 bgcolor=#cccccc></td>
    <td width=2 bgcolor=#d8d8d8></td>
    <td width=2 bgcolor=#e1e1e1></td>
    <td width=2 bgcolor=#e8e8e8></td>
    <td width=2 bgcolor=#efefef></td>
    <td width=2 bgcolor=#f4f4f4></td>
    <td width=2 bgcolor=#f9f9f9></td>
    <td width=2 bgcolor=#fcfcfc></td>
    <td width=2 bgcolor=#fefefe></td></tr></tbody></table>
 </body>
</html>
