<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="apigatewayUrl" value="http://localhost/apigateway/mca/8D011A65-641C-428F-A2AE-CEF944FD164E"/>
    <add key="identityenabled" value="1"/>
    <!--<add key="identityrooturl" value="https://PPE-backend-identity.dotcom.tesco.org"/>-->
    <add key="identityrooturl" value="http://localhost/eservices"/>
    <add key="identityclientid" value="trn:tesco:cid:9fe1f09d-9a78-4c1c-b54f-1aa7fc01824d:04427f1f-f19f-48bb-90a5-22d9889fa155"/>
    <add key="identityusername" value="CCO_User00571@tesco.com"/>
    <add key="identitypassword" value="testing"/>
    <add key="publickey" value="8D011A65-641C-428F-A2AE-CEF944FD164E"/>
    <add key="secretkey" value="82001E56-3D43-4632-87EA-7C26780E9DAE"/>
    <add key="nonce" value="B0A72F2B-F986-412E-A3ED-6F2DECAFF42D"/>
    <add key="timestamp" value=""/>
    <add key="testusers" value="[{'custid':'50014000','username':'CCO_User00571@tesco.com','password':'testing'},{'custid':'353','username':'CCO_User00576@tesco.com','password':'testing'},{'custid':'50013994','username':'CCO_User00570@tesco.com','password':'testing'},{'custid':'50013791','username':'CCO_User00564@tesco.com','password':'testing'},{'custid':'50014013','username':'CCO_User00572@tesco.com','password':'testing'}]"/>
  </appSettings>

  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <modules runAllManagedModulesForAllRequests="true" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
</configuration>
