<client>
  <endpoint address="http://172.21.179.47/UtilityService/UtilityService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilityService"
      contract="NGCUtilityService.IUtilityService" name="WSHttpBinding_IUtilityService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.21.149.229/JoinService/JoinLoyaltyService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJoinLoyaltyService"
      contract="JoinLoyaltyService.IJoinLoyaltyService" name="WSHttpBinding_IJoinLoyaltyService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://172.25.32.251:81/LOCATORSVC/Locator.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
      contract="ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
  <endpoint address="http://172.21.149.229/CCOServices/CustomerService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
      contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
</client>
