 @model decimal
 @using Tesco.ClubcardProducts.MCA.Web.Common

<dl class="paired-list standalone my-points equal">
    <dt id="lblVouchersToSpend">@Html.Translate("Shared/_Vouchers", "lclVouchersToSpend")</dt>
    <dd><span id="lblCurSyms">@Html.Translate("Shared/_Vouchers", "CurrencySymbol") @Model @Html.Translate("Shared/_Vouchers", "CurrencyAlphaSymbol")</span></</dd>
</dl>
