@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <span>Welcome to dummy login page. You are logged in. Please navigate to MCA by changing the URL manually</span>
    </div>
</body>
</html>
