<!-- This is the master list of client endpoints for Coupon Setup WCF services. -->
<client>
    <endpoint address="http://172.21.179.47/ClubcardService/CustomerService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
        contract="customerservice.ICustomerService" name="WSHttpBinding_ICustomerService" />
    <endpoint address="http://172.21.181.67/CouponEnquiryService/CouponEnquiryService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponEnquiryService"
        contract="CouponEnquiryService.IClubcardCouponEnquiryService"
        name="WSHttpBinding_IClubcardCouponEnquiryService">
        <identity>
            <dns value="localhost" />
        </identity>
    </endpoint>
    <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/ActivationServices/ActivationServices.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHTTP" contract="ClubcardActivationService.IClubcardOnlineService"
        name="wsHTTP">
        <identity>
            <dns value="&#xD;&#xA;          " />
        </identity>
    </endpoint>
    <endpoint address="http://localhost/BigExchange.Service/ClubcardReward.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClubcardReward"
        contract="BigExchange.IClubcardReward" name="BasicHttpBinding_IClubcardReward" />
</client>