<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <appSettings>
    <add key="Consumer" value="Tesco.com" />
    <add key="DotcomCustomer" value="Dotcom Customer ID" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Tesco.com.ClubcardOnline.WebService.ClubcardOnlineService" behaviorConfiguration="ClubcardOnlineActivationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://172.29.15.220/CustomerActivationServices/ActivationServices.svc" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address ="http://172.29.15.220/CustomerActivationServices/ActivationServices.svc" binding="wsHttpBinding" contract="Tesco.com.ClubcardOnline.WebService.IClubcardOnlineService" bindingConfiguration="wsHTTP_ActivationService" >
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHTTP_ActivationService" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
           maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880" allowCookies="false">
          <security mode="None">
          </security>
        </binding>
       
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClubcardOnlineActivationServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>








<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    --><!--connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"--><!--
    --><!--<add key="DBConnectionString" value="server=172.29.3.17;database=NGCCCO;uid=UKCC;password=password;" />--><!--
    <add key="Consumer" value="Tesco.com" />
    <add key="DotcomCustomer" value="Dotcom Customer ID" />
  </appSettings>
  --><!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. --><!--
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHTTP_ActivationService" openTimeout="00:02:00"
          sendTimeout="00:02:00" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000">
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ClubcardOnlineActivationServiceBehavior"
        name="Tesco.com.ClubcardOnline.WebService.ClubcardOnlineService">
        <endpoint address="http://172.29.15.220/CustomerActivationServices/ActivationServices.svc" binding="wsHttpBinding" bindingConfiguration="wsHTTP_ActivationService"
          name="wsHTTP" contract="Tesco.com.ClubcardOnline.WebService.IClubcardOnlineService">
          <identity>
            <dns value="" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttp"
          contract="IMetadataExchange" />
        --><!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/CCOServices/ClubcardOnlineService" />
          </baseAddresses>
          <timeouts openTimeout="00:02:00" />
        </host>--><!--
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClubcardOnlineActivationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>-->