<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cookieInformation" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fujitsu.eCrm.Seoul.NGCCSD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="tescoConfigSettingsConfiguration" type="Tesco.Com.Framework.Services.Configuration.TescoConfigSettingsConfigurationSection, Tesco.Com.Framework" restartOnExternalChanges="true"/>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
  </configSections>
  <botDetect>
    <captchaUserInput autoLowercase="false" autoClear="false" autoFocus="false"/>
  </botDetect>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="ClubcardOnline Error" formatter="Default Formatter" log="" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Event Log Destination"/>
      <add fileName="D:\Trace\Trace1.log" footer="----------------------------------------" formatter="Text Formatter" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="10000" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="DateTime" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;          Message: {message}&#xA;          Category: {category}&#xA;          Priority: {priority}&#xA;          EventId: {eventid}&#xA;          Severity: {severity}&#xA;          Title:{title}&#xA;          Machine: {machine}&#xA;          Application Domain: {appDomain}&#xA;          Process Id: {processId}&#xA;          Process Name: {processName}&#xA;          Win32 Thread Id: {win32ThreadId}&#xA;          Thread Name: {threadName}&#xA;          Extended Properties: {dictionary({key} - {value})}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Default Formatter"/>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="9" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Priority"/>
    </logFilters>
    <categorySources>
      <add switchValue="Error" name="Default Category">
        <listeners>
          <add name="Event Log Destination"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Destination"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Log Only Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Default Category" eventId="100" severity="Error" title="Exception Management Application Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="1" useDefaultLogger="true" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <tescoConfigSettingsConfiguration connectionStringsAreEncrypted="false">
    <tescoConfigSettingLocations>
      <!--This section identifies the locations of GLOBAL config settings.-->
      <!--valid values are "ConfigFile", "Registry" and "Database" (case-sensitive).  The default (if no location is specified) is ConfigFile.-->
      <add item="MartiniSecurityDB" location="Database"/>
      <add item="CustomerCapabilityDB" location="Database"/>
      <add item="CustomerCoreDB" location="Database"/>
      <add item="PAF" location="Database"/>
      <add item="MaterialStoreEncryptionKey" location="Database"/>
      <add item="MaterialStoreEncryptionIV" location="Database"/>
      <add item="MaterialStoreEncryptionSalt" location="Database"/>
      <add item="MaterialStoreEncryptingAlgorithm" location="Database"/>
      <add item="First_Time_Shopper_Targetting_Segment" location="Database"/>
      <add item="Pre_Auth_Amount" location="Database"/>
      <add item="Billing_AddressVerification_Enabled" location="Database"/>
      <add item="VbV_Enabled" location="ConfigFile"/>
      <add item="MCSC_Enabled" location="ConfigFile"/>
      <add item="PointsToCustomer" location="Database"/>
      <add item="PointsToFriend" location="Database"/>
      <add item="Green_clubcard_points" location="Database"/>
      <add item="Staff_Discount" location="Database"/>
      <add item="Standard_clubcard_points" location="Database"/>
      <!-- Commented as part of the config cleanup on 18-06-2009-->
      <!-- *****************************************************-->
      <!--<add item="Business_Channel_To_VirtualStore_Mapping" location="Database"/>-->
      <!-- *****************************************************-->
      <!-- added two item -->
      <add item="SecurityCodeLength_AmericanExpress" location="Database"/>
      <add item="SecurityCodeLength_Other" location="Database"/>
      <add item="Secure_Enabled" location="Database"/>
      <add item="Domain" location="Database"/>
      <add item="GestureOfGoodWillCampaignId" location="Database"/>
      <add item="VAT" location="ConfigFile"/>
      <add item="Valid_ClubCard_Prefixes" location="Database"/>
      <add item="Delivery_Prem_Default_Weeks" location="Database"/>
      <add item="LegacyFlag" location="Database"/>
    </tescoConfigSettingLocations>
  </tescoConfigSettingsConfiguration>
  <system.web>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!-- Culture defaulted to pl-PL  pl-PL-->
    <globalization uiCulture="en-GB" culture="en-GB"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <machineKey validationKey="F79A02737B09B8B2239B80CBCFCF4ED39418CBF70CC33F7AA08E4F8CC05566078C467526FB7094D501B0D4B3F41FC5889EB52F637083BB39DFAC428099ADEAEB" decryptionKey="BADDBC52313415267A618BF2747BF4C7B491EDFBF75442578F6DFD8513785729" validation="SHA1" decryption="AES"/>
    <membership defaultProvider="CustomizedProvider">
      <providers>
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SecurityConnectionString" applicationName="/" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5" passwordFormat="Encrypted" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true"/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <sessionState/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
      <namespaces>
        <add namespace="BotDetect"/>
        <add namespace="BotDetect.Web"/>
        <add namespace="BotDetect.Web.UI"/>
      </namespaces>
    </pages>
    <!--sessionState mode="SQLServer" sqlConnectionString="data source=172.25.33.89;user id=ccJoinsession;password=##535510n" cookieless="false" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/-->
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <!--Martini reference monitor-->
    <!--<httpModules>   
      <add type="Tesco.Com.Framework.
.ReferenceMonitor.RefMonHttpModule,Tesco.Com.Framework.Security.ReferenceMonitor" name="RefMonHttpModule"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>-->
    <!--Http module to get CustomerIdentity value from IGHS -->
    <!--<httpModules>
      <add name="PostAuthenicationHttpModule" type="LoginIntegration.PostAuthenicationHttpModule, LoginIntegration" />
    </httpModules>-->
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <caching enabled="false" enableKernelCache="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>

      <!-- <add name="IGHSLoginIntegration" type="LoginIntegration.PostAuthenicationHttpModule" />-->
    </modules>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings configSource="wcfstandardbinding.config"/>
    <client configSource="wcfclientendpoints.config"/>
    <behaviors configSource="wcfbehaviors.config"/>
  </system.serviceModel>
  <appSettings>
    <add key="MyAccountVariableMessage" value="We want to help you make the most of your Clubcard and the pages below will help you do just that."/>
    <add key="MyAccountAddressError" value="Please update your address details so we can send you your Clubcard vouchers and statements"/>
    <add key="MyAccountVariableProcessingMessage" value="We are currently processing your Clubcard statement. Any points carried forward to your next statement will be added to your account soon. Check back next week!"/>
    <add key="MyAccountVariablePreferenceMessage" value="Sign up to receive your statement online in the 'My preferences' section"/>
    <!--<add key="ClubcardOnline_Web_NGCServer_Service" value="http://localhost/NGCWebService/service.asmx"/>-->
    <add key="CultureDefault" value="en-GB"/>
    <add key="CultureDefaultloc" value="en-GB"/>
    <add key="Culture" value="en-GB"/>
    <add key="Password" value="cco1234"/>
    <add key="PAFService" value="http://172.25.60.196:81/changeprogram/locationservice.asmx"/>
    <add key="ServiceConsumer" value="Dotcom Customer"/>
    <add key="SaveTreePrefStartDate" value="01/01/2090"/>
    <!-- HeaderFooterFormat value will be "1" for UKformat and "2" for ROIFormat  -->
    <add key="HeaderFooterFormat" value="1"/>
    <!-- Order a Replacement constant-->
    <add key="ORDRPL_PROCESSWINDOW" value="14"/>
    <add key="TimerCCOCookieExpiration" value="60"/>
    <add key="StatementFormatPath" value="D:\MCA\Refactoring\MCA\ClubcardOnline.Web\StatementFormats\"/>
    <add key="PrintBGImagePath" value="D:\TFS\41_Clubcard\ClubcardProducts\MCA\3I_IvoryMountain\MCA\ClubcardOnline.Web\I\"/>
    <!--Below constant is for sending an activation email-->
    <add key="toEmailID" value="neeta.kewlani@in.tesco.com"/>
    <add key="Transaction_type" value="2"/>
    <!--Martini Reference Monitor Constants-->
    <!--************************************************************************-->
    <!--<add key="applicationId" value="4"/>not used-->
    <add key="applicationId" value="22"/>
    <add key="enforceSingleIpAddressForASingleSession" value="false"/>
    <add key="TimerCredentialTimeout" value="3600"/>
    <!-- Used for UK-->
    <add key="GenericLoginPage" value="https://secure.tesco.com/register/?from=https://secure.tesco.com/clubcard/myaccount/home.aspx"/>
    <add key="AuthorisationPage" value="https://secure.tesco.com/register/?from=https://secure.tesco.com/clubcard/myaccount/home.aspx"/>
    <!-- Used for Group-->
    <!--<add key="GenericLoginPage" value="https://r.cn.tesco.com/?from=https://r.cn.tesco.com/clubcard/myaccount/home.aspx"/>
    <add key="AuthorisationPage" value="https://r.cn.tesco.com/?from=https://r.cn.tesco.com/clubcard/myaccount/home.aspx"/>-->
    <add key="CacheUpdateHours" value="24"/>
    <add key="CacheUpdateMinutes" value="0"/>
    <add key="CacheUpdateSeconds" value="0"/>
    <add key="AccessControlPolicyCacheExpiry" value="24"/>
    <!-- hours-->
    <add key="DomainName" value="tesco.com"/>
    <!-- Used for Group-->
    <!--<add key="GenericLogoutPage" value="http://www.cn.tesco.com"/>-->
    <!-- Used for UK-->
    <add key="GenericLogoutPage" value="https://secure.tesco.com/register/signout.aspx"/>
    <add key="ProjectTitle" value="Clubcard"/>
    <add key="CultureDefault" value="en-GB"/>
    <add key="DefaultDateFormart" value="dd/MM/yy"/>
	<add key="DisableBonusPoints" value ="false" />
    <!--************************************************************************-->
    <!--*****************************Activation page constants*******************************************-->
    <add key="Tesco_Visa_High" value="43056700"/>
    <add key="Tesco_Visa_Low" value="43056799"/>
    <add key="Tesco_Platinum_High" value="46559000"/>
    <add key="Tesco_Platinum_Low" value="46559099"/>
    <add key="Mastercard_High" value="51864500"/>
    <add key="Mastercard_Low" value="51864599"/>
    <add key="Mastercard_Clubcard_High" value="51865200"/>
    <add key="Mastercard_Clubcard_Low" value="51865299"/>
    <add key="Mastercard_Bonus_High" value="52064100"/>
    <add key="Mastercard_Bonus_Low" value="52064199"/>
    <add key="Visa_Bonus_High" value="40134300"/>
    <add key="Visa_Bonus_Low" value="40134999"/>
    <add key="Visa_Clubcard_High" value="40134400"/>
    <add key="Visa_Clubcard_Low" value="40134999"/>
    <add key="Platinum_Mastercard_High" value="55218800"/>
    <add key="Platinum_Mastercard_Low" value="55218899"/>
    <!--************************************************************************-->
    <add key="Captcha" value="Live"/>
    <!-- ***************** NGC 3.6 *********************************************-->
    <add key="Profanity" value="0"/>

    <!--Used for UK-->
    <add key="HideJoinFunctionality" value="https://secure.tesco.com/register/?from=https://secure.tesco.com/clubcard/myaccount/home.aspx"/>
    <!--Used for Group-->
    <!--<add key="HideJoinFunctionality" value="https://r.cn.tesco.com/?from=https://r.cn.tesco.com/clubcard/myaccount/home.aspx"/>-->
    <add key="smtpClient" value="192.168.208.45"/>
    <add key="LetterContentFormat" value=".html"/>
    <add key="FontPath" value="D:\MCA\Refactoring\MCA\ClubcardOnline.Web\fonts\arial.ttf"/>
    <add key="LetterContentIpDirectory" value="D:\TFSSanity\MCA\LetterContents\"/>
    <add key="LandingURL" value="http://tesco.idomoo.com/videos/"/>
    <add key="WebPropertyId" value="UA-50017499-1"/>
    <add key="IsGoogleAnalyticsRequired" value="yes"/>
    <add key="IsOmnitureRequired" value="no"/>
    <!--if isomniturereuired="no" then make DTMURL key value="" blank -->
    <!--<add key="DTMURL" value="//assets.adobedtm.com/07f4803ba7577af91bd0d0bb989cce05e8f2a5c8/satelliteLib-7911cd3d3857c03c0f8ff13ddf46947d78d9b46d-staging.js"/>-->
    <add key="DTMURL" value=""/>

    <add key="IsForeseeRequired" value="yes"/>
    <!--if IsForeseeRequired="no" then make ForeseeURL key value="" blank -->
    <!-- if it is production then ForeseeURL would be //gateway.answerscloud.com/tescoclubcard-uk/production/gateway.min.js -->
    <add key="ForeseeURL" value="//gateway.answerscloud.com/tescoclubcard-uk/staging/gateway.min.js"/>
       
    <add key="BankVoucherType" value="22"/>
    <!--<add key="Omniturekey" value="tescoclubcarddev"/>-->
    <!--<add key="OmnitureImgUrl" value ="https://tescostores.122.2o7.net/b/ss/tescoclubcarddev/1/H.24NS/0"/>-->
    <add key="ReplaceClubcardPrefix" value="979"/>
    <add key="HideJoinFunctionality" value="https://secure.tesco.com/register/?from=https://secure.tesco.com/clubcard/myaccount/home.aspx"/>
    <!--In Voucher Page, to enable and disable the Alpha numeric code in grid and as well as on printed vocuhers-->
    <add key="IsAlphaCodeRequired" value="1"/>
    <!--In Voucher Page, to enable and disable the facebook and twitter-->
    <add key="IsFacebookRequired" value="Y"/>
    <add key="IsTwitterRequired" value="Y"/>
    <!--In ECoupon to Show Date format in dd/MM/yyyy as per Regional Setting of Server -->
    <add key="ServerSpecificDateFormat" value="MM/dd/yyyy hh:mm:ss tt,M/dd/yyyy hh:mm:ss tt,M/d/yyyy hh:mm:ss tt,M/d/yyyy h:mm tt,M/dd/yyyy h:mm:ss tt,dd/MM/yyyy HH:mm:ss"/>
    <!-- ***************** NGC 3.6 *********************************************-->
    <!-- ***************** 1 will enable the INT,OPS and Live environment(dotcom) code and 0 will work for System test environment(non-dotcom) code*********************************************-->
    <add key="IsDotComEnvironment" value="0"/>
    <!-- ***************** 1 will enable the INT,OPS and Live environment(dotcom) code and 0 will work for System test environment(non-dotcom) code*********************************************-->
    <!-- *****************  MLS Letter Content Numbering *********************************************-->
    <!-- *****************Order => Vouchers=1,BAAvios(R/NR)=3,Avios(R/NR)=3,Xmas(R/NR)=4,5,Non-Voucher=6,Virgin(R/NR)=7,Non Mailed=6,New and New Non-Voucher=8,9-->
    <!--<add key="MLSLetterContentNumbering" value="1,3,3,3,3,4,5,6,7,7,6,8,6"/>-->
    <!--<add key="MLSLetterContentNumbering" value="1,3,3,3,3,6,6,9,7,7,9,8,9"/>-->
    <add key="MLSLetterContentNumbering" value="1,2,2,3,3,4,5,6,7,7,6,8,9"/>
    <!-- *****************  MLS Letter Content Numbering *********************************************-->
    <!-- Customer specific images for MLS-->
    <!--Commented Following line of code as per MLS nov Plan-->
    <!--<add key ="MLSImageNames" value ="ImageA.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageC.jpg,ImageC.jpg,ImageD.jpg,ImageB.jpg,ImageB.jpg,ImageD.jpg,ImageE.jpg,ImageD.jpg"/>-->
    <!--<add key="MLSImageNames" value="ImageA.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageC.jpg,ImageC.jpg,ImageA.jpg,ImageD.jpg,ImageD.jpg,ImageA.jpg,ImageA.jpg,ImageA.jpg"/>-->
    <!--<add key="MLSImageNames" value="ImageA.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageC.jpg,ImageC.jpg,ImageE.jpg,ImageD.jpg,ImageD.jpg,ImageE.jpg,ImageE.jpg,ImageE.jpg"/>-->
    <add key="MLSImageNames" value="ImageA.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageB.jpg,ImageC.jpg,ImageC.jpg,ImageF.jpg,ImageD.jpg,ImageD.jpg,ImageF.jpg,ImageE.jpg,ImageE.jpg"/>
    <add key="MLSContentIpDirectory" value="D:\MCA\Refactoring\MCA\ClubcardOnline.Web\MLSContents"/>
    <add key="ImageName" value="PrintatHomeClubcard_Eng.jpg"/>
    <!--Used in MCA join and Personal Details page to handled the DOB Format, Fix for Group -->
    <add key="SpecifiedDateFormat" value="dd/MM/yyyy"/>
    <add key="Linkerfordate" value="/"/>
    <!--Used in Group-->
    <add key="DisplayDateFormat" value="dd/MM/yy"/>
    <!-- MARTINI for DOTCOM and IGHS for GROUP -->
    <add key="LoginSolution" value="IGHS"/>
    <add key="RoutingFilters" value="aspx"/>
    <add key="CustomerEncodedValue" value="7D824FA38E8C7B48DBF6C19160648E67C02FBAEAE0F1FE3CE0387C57BF017F40422AE67C2376FCE02EF76EF01980D9CF803F3146FF499F87AC07924618CF102B1791BC0B7EE005524AE8AD807C92437DACE3F82DBB031A3728839565543C548D329A99351AEB8E2116C084201D0E25BFCE38474AED1663A54476884D73693AE4DC2D34D8794E18EA9407F0F5AC75C1AA180FD06D5C6BC3C16AD49805AD03D19DA1F1623F13B92C95934CEA3CE8A7B726541EED1E7D0152CC16D84A0F63809AAA81E481B8D741AFDADDE27EDEFC0D410AF5E2E3D5F76D2D4D7F3AD85847CEC1D99BB55035DCA7345F17A52E35CB912A46C6F04394"/>
    <add key="EnableSecurityLayerOnMCAHome" value="true"/>
    <add key="IsHideCustomerName" value="false"/>
    <add key="DisableDiaetoryPreference" value="false"/>
    <add key="ShowHowToUseCoupons" value="false"/>
    <add key="IsReplacementCardWithYourNewName" value="1"/>
    <add key="IsLargeBraileEnabled" value="true"/>
    <add key="DisableCurrencyDecimal" value="false"/>
    <add key="EnableiTextsharpPDFFormat" value="false"/>
    <add key="DateRangeForCollectionPeriod" value="false"/>
    <!--<add key="IsGridFormat" value="false"/>-->
    <add key="IsOptInBehaviour" value="true"/>
    <add key="DisableSpendOnline" value="true"/>
    <add key="ShowTescoDotcomCoupons" value="true"/>
    <add key="FontName" value ="Verdana"/> <!-- verdana for English  and 0 for tahoma for TH localisation script-->
    <add key="ShowTypeofCard" value ="false"/>
	<add key="IsLocale" value ="true"/>
	<add key="EnableProvince" value ="false"/>
  <add key ="EnablePrintTempCard" value ="1"/> <!-- 1 for Enable and 0 for Disabling Print Temp Clubcard-->
    <add key ="EnableBabyTodler" value="false"/>
    <add key ="EnableSaveTrees" value="false"/>
    <!-- CCMCA 407: added by laxmi-->
    <add key="TopupRange" value="1,25,50,100,200,200"/>
    <add key="BonusVoucher" value="0,1.50,3,6,12,12"/>
    <add key="Topuptoreceivemaxbonus" value="200"/>
    <add key="MaxBonusVoucher" value="12"/>
    <!-- CCMCA 407: added by laxmi-->
	  <add key="IsDBConfigurationEnabled" value="true"/>
	  <add key="DBConfigurationXmlFile" value="~/App_Data/configuration-en-GB.xml"/>

  </appSettings>
  <cookieInformation>
    <!-- <add key="anonCookie" name="AUID" lifeSpan="30" domain=".tesco.com"/> -->
    <add key="anonCookieName" value="AUID"/>
    <add key="anonCookieLifeSpan" value="30"/>
    <!--Time in Minutes -->
  </cookieInformation>
</configuration>
