<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IClubcardCouponService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICustomerService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPreferenceService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IJoinLoyaltyService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ISmartVoucherServices" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ILocatorSvcSDA" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IClubcardService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IRewardService" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="200000000" maxReceivedMessageSize="2000000000"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="2000000000"
                        maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            establishSecurityContext="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IClubcardOnlineService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICustomerSvcsCoreSDA">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>     
      <!--<DBT>-->
      <!--<client>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/ClubcardCouponService/ClubcardCouponService.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponService"
                  contract="ClubcardCouponService.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/CCOServices/CustomerService.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                  contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/JoinService/JoinLoyaltyService.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJoinLoyaltyService"
                  contract="JoinLoyaltyService.IJoinLoyaltyService" name="WSHttpBinding_IJoinLoyaltyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/SmartVoucherUK/SmartVoucherServices.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmartVoucherServices"
                  contract="SmartVoucherService.ISmartVoucherServices" name="WSHttpBinding_ISmartVoucherServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://pvuktstfeapp03.tst01.tesco.org/Preferences_Exalt/PreferenceService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPreferenceService"
          contract="PreferenceService.IPreferenceService" name="WSHttpBinding_IPreferenceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://ops01mapp08.comops.uk.tesco.org:81/LOCATORSVC/Locator.svc"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
                  contract="LocatorService.ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
                          <endpoint address="http://172.21.179.47/RewardServices/RewardService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRewardService"
          contract="RewardService.IRewardService" name="WSHttpBinding_IRewardService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </client>-->
      <!--<GD>-->
      <client>
        <endpoint address="http://ops01mapp08.comops.uk.tesco.org:81/LOCATORSVC/Locator.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocatorSvcSDA"
          contract="LocatorService.ILocatorSvcSDA" name="WSHttpBinding_ILocatorSvcSDA" />
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/RewardService/RewardService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRewardService"
          contract="RewardService.IRewardService" name="WSHttpBinding_IRewardService">
          <identity>
            <dns value="dvdcccoweb005uk.dev.global.tesco.org" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/ClubcardCouponService/ClubcardCouponService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardCouponService"
          contract="ClubcardCouponServices.IClubcardCouponService" name="WSHttpBinding_IClubcardCouponService">
          <identity>
            <dns value="dvdcccoweb005uk.dev.global.tesco.org" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/SmartVoucherService/SmartVoucherServices.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmartVoucherServices"
          contract="SmartVoucherServices.ISmartVoucherServices" name="WSHttpBinding_ISmartVoucherServices">
          <identity>
            <dns value="dvdcccoweb005uk.dev.global.tesco.org" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/ClubcardCustomerServices/ClubcardService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClubcardService"
          contract="ClubcardService.IClubcardService" name="WSHttpBinding_IClubcardService">
          <identity>
            <dns value="dvdcccoweb005uk.dev.global.tesco.org" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/ClubcardCustomerServices/CustomerService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
          contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
          <identity>
            <dns value="dvdcccoweb005uk.dev.global.tesco.org" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/JoinLoyaltyService/JoinLoyaltyService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJoinLoyaltyService"
          contract="JoinLoyaltyService.IJoinLoyaltyService" name="WSHttpBinding_IJoinLoyaltyService">
          <identity>
            <dns value="dvdcccoweb005uk.dev.global.tesco.org" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/PreferenceService/PreferenceService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPreferenceService"
          contract="PreferenceServices.IPreferenceService" name="WSHttpBinding_IPreferenceService">
          <identity>
            <dns value="dvdcccoweb005uk.dev.global.tesco.org" />
          </identity>
        </endpoint>
        <endpoint address="http://dvdcccoweb005uk.dev.global.tesco.org/Current/CustomerSvcCoreSDA/MyAccountCustomerService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerSvcsCoreSDA"
          contract="MyAccountCustomerService.ICustomerSvcsCoreSDA" name="WSHttpBinding_ICustomerSvcsCoreSDA" />
      </client>
    </system.serviceModel>
</configuration>


