<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
<appSettings>
<!-- Path to the folder where the txn files will be ftp'd to-->
<add key="TransactionFileFolderPath" value="C:\Program Files\NGC\PollPartnerBatchService\TxnFileInput"/>
<!-- Timer Interval in milli seconds.Default is 3600000 (1 hour)-->
<add key="TimerInterval" value="3600000"/>
<!-- The path where the file will be processed in-->
<add key="ProcessFolderPath" value="C:\Program Files\NGC\PollPartnerBatchService\TxnInProgress"/>
<!-- The path where the files will be archived to-->
<add key="ArchiveFolderPath" value="C:\Program Files\NGC\PollPartnerBatchService\TxnArchive"/>
<!-- The path where the Mail attachments (responses)will be archived to-->
<add key="ResponseArchiveFolderPath" value="C:\Program Files\NGC\PollPartnerBatchService\TxnResponseArchive"/>
<!-- Number of files that will be processed concurrently.Default is 25-->
<add key="ConcurrentFileCount" value="25"/>
<!-- The path for txn request header xsd-->
<add key="TxnHeaderXsd" value="C:\Program Files\NGC\PollPartnerBatchService\TxnXsd\partnertxnheader.xsd"/>
<!-- The path for txn request detail xsd-->
<add key="TxnDetailXsd" value="C:\Program Files\NGC\PollPartnerBatchService\TxnXsd\partnertxndetail.xsd"/>
<!-- The path for txn response xsd-->
<add key="TxnResponseXsd" value="C:\Program Files\NGC\PollPartnerBatchService\TxnXsd\partnertxnresponse.xsd"/>
<!-- Connection string for NGC database.This section can be commented out if there is an alternat entry in the machine.config in the deployed system -->
<add key="AdminConnectionString" value="data source=172.29.15.107; initial catalog=ngcdata_pp_v3; user id=sa;password=sa;"/>
<!-- Mail account which will be used as the Mail From Account in all the txn response mails-->
<add key="MailFromAccount" value="frommailaccount"/>
<!-- Control account which will be copied in all the txn response mails-->
<add key="MailControlAccount" value="controlmailaccount"/>
<!-- SMTP server address-->
<add key="SMTPServer" value="servername"/>
<!-- Error Limit (An integer value)-->
<add key="ErrorLimit" value="1000"/>
<!-- A bit value indicating whether a skelton card account should be created if the clubcard is not found on the system (1 or 0)
1 - Create skeleton account is card account not found on NGC system
0 - Do not create skeleton account. This will cause the txn record to be rejected -->
<add key="CreateSkeletonAccount" value="1"/>
<!-- A bit value indicating whether check digit validation should be done for new card account number
1 - Perform check digit validation if card account not found on NGC system
0 - Do not create perform check digit validation. -->
<add key="PerformCheckDigitValidation" value="1"/>
</appSettings>
</configuration>