
.ddl-stamps {

	li {

		a {

			img {
				width: 100%;
				position: relative;
			}

			h2, .ddl-h2-like {
				font-size: 1.6rem;
				padding: 12px 16px;

				&:after {
					font-size: 12px;
					right: 12px;
				}
			}
		}
	}
}