<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/LogsConfig/${shortdate}.log">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <targets async="true">
    <target name="asyncFile" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File" name="logFile" fileName="${basedir}/../../../../Trace/MCA.${shortdate}.log"
              layout="${message}${onexception:${exception:format=Message,Data,StackTrace:maxInnerExceptionLevel=5:innerFormat=Message,Data,StackTrace}}"/>
    </target>
  </targets>
  <rules>
    <logger name="*"  writeTo="logFile" minlevel="Trace"  />
  </rules>
</nlog>
